<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta name="google-site-verification" content="Sbm02wgk0_0BssE3_5dCtdj6XMW0aGYDaXL4D8aOJAs" />

<title>HOTPOT {% block title %}{% endblock %}</title>

<!-- Typekit JS -->
<script type="text/javascript" src="http://use.typekit.com/qje5yme.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- jQuery library -->
<script src="/static/js/lib/jquery-1.7.1.min.js" type="text/javascript"></script>

<!-- my scripts -->
<script src="/static/js/utils.js" type="text/javascript"></script>
<script src="/static/js/common.js" type="text/javascript"></script>
{% block customJS %}{% endblock %}

<link rel="stylesheet" href="/static/css/core.css" type="text/css" />

</head>
 
<body id="{% block bodyId %}{% endblock %}" class="{% block bodyClass %}{% endblock %}">

<header id="mainHeader">
	<h1 id="logo">
		<a href="/"><img src="/static/images/HotpotLogo_Alpha.png" /></a>
	</h1>
	
	<div id="headerNavsContainer">
	<div id="headerNavs">
	
		<nav id="mainNav">
			<a href="/meals"><span class="small">Browse <em>the</em></span> Meals</a>
			<a href="/people"><span class="small">Meet <em>friendly</em></span> People</a>
		</nav><!-- #mainNav -->
		
		<div id="serviceNavs">
			{% if not isLoggedIn %}
			
				<a href="/login" id="loginLink">Log In</a>
				<a href="/register" id="registerLink">Join Hotpot</a>
			
			{% else %}
				
				<nav id="primaryUserNav">
					{% if alertNumber != 0 %}
						<a href="/invitations?filter=received" id="invitationsLink">
							<span class="tooltip">Invitations</span>
							<span class="alertNumber">{{ alertNumber }}</span>
						</a>
					{% else %}
						<a href="/invitations" id="invitationsLink">
							<span class="tooltip">Invitations</span>
						</a>
					{% endif %}
					
					<a href="/history" id="historyLink"><span class="tooltip">Cooking History</span></a>
				</nav><!-- #primaryUserNav -->
				
				<div id="userInfoContainer">
					<div id="userInfo">
						<div class="userpic">
							<a href="/home"><img src="/static/uploads/userpics/{% if user.userpic!='none' %}{{ user.userpic }}{% else %}placeholder.png{% endif %}" /></a>
						</div>
						
						<h2>
							<span class="greeting">Great to see you,</span>
							<span class="username">{{ user.name }}!</span>
						</h2>
					</div>
					
					<nav id="secondaryUserNav">
						<a href="/home">My Dashboard</a>
						<a href="/accountinfo">Account Settings</a>
						<a href="/logout">Log Out</a>
					</nav><!-- #secondaryUserNav -->
				</div><!-- userInfoContainer -->
				
				<a href="/invite/LemonGarlicKalePasta" id="bigInviteButton">
					<span class="big">Invite</span> 
					<span class="small"><em>a</em> Friend <em>to</em></span> 
					<span class="big">Cook!</span>
				</a>
				
			{% endif %}
		</div>
		
	</div><!-- #headerNav -->
	</div><!-- #headerNavContainer -->
	
</header><!-- #mainHeader -->

<div id="mainContainer">
{% block main %}{% endblock main %}
</div><!--#mainContainer-->

<footer id="mainFooter">
	<nav id="footerNav">
		<a href="">About Hotpot</a>
		<a href="mailto:feedback@letsgohotpot.com">Send Feedback</a>
		<a href="mailto:t@tinabeans.com">Contact</a>
	</nav>
	<p>Hotpot is created by Tina Ye for her Master's Thesis in Interaction Design at SVA. Read more about the project <a href="http://thesis.tinabeans.com/">here</a>.</p>
</footer>

</body>
</html>