<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta name="google-site-verification" content="Sbm02wgk0_0BssE3_5dCtdj6XMW0aGYDaXL4D8aOJAs" />

<title>HOTPOT {% block title %}{% endblock %}</title>

<!-- Typekit JS -->
<!--<script type="text/javascript" src="http://use.typekit.com/qje5yme.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->

<!-- jQuery library -->
<script src="/static/js/lib/jquery-1.7.1.min.js" type="text/javascript"></script>

<!-- my scripts -->
{% block customJS %}{% endblock %}

<link rel="stylesheet" href="/static/css/core.css" type="text/css" />

</head>
 
<body id="{% block bodyId %}{% endblock %}" class="{% block bodyClass %}{% endblock %}">

<div id="mainHeaderContainer">
<header id="mainHeader">
	<h1 id="logo"><a href="/"><img src="/static/images/HotpotLogo_Alpha.png" /></a></h1>
	
	<nav id="mainNav">
		<a href=""><span class="small">Browse</span> Menus</a>
		<a href=""><span class="small">Meet</span> People</a>
	</nav>
	
	<nav id="serviceNav">
		<!--<a href="">Login</a>
		<a href="">Register</a>-->
		<a href="/invitations">Invitations</a>
		<a href="/history">Cooking History</a>
		<a href="/profile">My Profile</a>
		<a href="/accountinfo">Account Information</a>
	</nav>
</header>
</div><!-- #mainHeaderContainer -->

<div id="mainContainer">
{% block main %}{% endblock main %}
</div><!--#mainContainer-->

<footer id="mainFooter">
	<nav id="footerNav">
		<a href="">About Hotpot</a>
		<a href="">Send Feedback</a>
		<a href="">Contact</a>
	</nav>
	<p>Hotpot is created by Tina Ye for her Master's Thesis in Interaction Design at SVA. Read more about the project <a href="http://thesis.tinabeans.com/">here</a>.</p>
</footer>

</body>
</html>