/* line 17, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.gem/ruby/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* TYPOGRAPHY */
/* COLORS */
/* MIXINS */
/* TAG REDEFINITIONS */
/* line 22, ../sass/core.scss */
html {
  height: 100%;
}

/* line 26, ../sass/core.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: "rooney-web", sans-serif;
  font-weight: 300;
  font-size: 13px;
  height: 100%;
}

/* line 35, ../sass/core.scss */
a {
  text-decoration: none;
  color: blue;
}

/* div, section {
	border:1px solid #eee;
	background:#fff; 
}*/
/* line 46, ../sass/core.scss */
p {
  line-height: 1.4em;
}

/**********************************************************/
/* HOME */
/* line 54, ../sass/core.scss */
#mainHeader, #homeIntro, #featuredMeals, #mainFooter {
  width: 90%;
  margin: 0px auto;
  position: relative;
}

/* line 58, ../sass/core.scss */
#home #mainHeader {
  padding-top: 30px;
}
/* line 61, ../sass/core.scss */
#home #mainHeader h1 {
  text-align: center;
  margin: 30px;
}
/* line 65, ../sass/core.scss */
#home #mainHeader h1 img {
  width: 300px;
}

/* line 71, ../sass/core.scss */
#topNav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0px;
}
/* line 77, ../sass/core.scss */
#topNav a {
  margin: 0px 20px;
  display: inline-block;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* line 86, ../sass/core.scss */
#introBlurb {
  text-align: center;
  font-size: 42px;
  padding-bottom: 10px;
}

/* line 92, ../sass/core.scss */
#featuredRecipes {
  clear: both;
}

/* line 96, ../sass/core.scss */
#joinUs {
  text-align: center;
  margin: 30px;
}
/* line 100, ../sass/core.scss */
#joinUs a {
  width: 180px;
  display: inline-block;
  background: #666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 26px;
  color: #fff;
  text-align: center;
  padding: 14px;
  font-style: italic;
  margin: 5px;
}
/* line 112, ../sass/core.scss */
#joinUs a .small {
  margin-top: 7px;
  display: block;
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-style: normal;
}

/* line 127, ../sass/core.scss */
#joinUs a:hover {
  background: #777;
}

/* line 131, ../sass/core.scss */
#featuredMealsContainer {
  background: #eee;
  margin: 60px 0px;
}

/* line 136, ../sass/core.scss */
#featuredMeals {
  padding: 30px 0px;
}
/* line 139, ../sass/core.scss */
#featuredMeals h1 {
  font-family: "proxima-nova", sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 18px;
  text-align: center;
}
/* line 149, ../sass/core.scss */
#featuredMeals .mealList li {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-right: 4%;
}
/* line 155, ../sass/core.scss */
#featuredMeals .mealList li h2 {
  position: absolute;
  top: 28px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 7px 10px 10px 10px;
  font-size: 20px;
}
/* line 165, ../sass/core.scss */
#featuredMeals .mealList li img {
  border: 10px solid #fff;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 172, ../sass/core.scss */
#featuredMeals .mealList li.last {
  margin-right: 0%;
}

/**********************************************************/
/* ROOM */
/* line 182, ../sass/core.scss */
#container {
  width: 95%;
  margin: 0px auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 188, ../sass/core.scss */
#room #container {
  height: 95%;
  padding: 20px 0px;
}

/* line 193, ../sass/core.scss */
#room header {
  width: 100%;
  height: 5%;
  background: #222;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 200, ../sass/core.scss */
#room header h1 {
  font-size: 20px;
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}

/**********************************************************/
/* RECIPE */
/* line 212, ../sass/core.scss */
#recipeContainer {
  position: relative;
  float: left;
  width: 360px;
  padding: 40px 10px 50px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
  height: 100%;
}

/* line 222, ../sass/core.scss */
#recipeNav {
  float: left;
  width: 60px;
}

/* line 227, ../sass/core.scss */
#stepTabs li {
  position: relative;
}
/* line 230, ../sass/core.scss */
#stepTabs li .positionMarker {
  position: absolute;
  top: 0;
  left: 30px;
}
/* line 236, ../sass/core.scss */
#stepTabs li a {
  display: block;
  border-right: 0px;
  padding: 7px;
  margin: 0px 0px 3px 0px;
  font-family: "proxima-nova", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 249, ../sass/core.scss */
#stepsNav {
  position: absolute;
  bottom: 20px;
  left: 80px;
}

/* line 255, ../sass/core.scss */
#ingredientsButton {
  display: block;
  width: 45px;
  background: #ddd;
  padding: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

/* line 265, ../sass/core.scss */
#recipe {
  height: 100%;
}

/* line 269, ../sass/core.scss */
#recipeTitle {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .15em;
}

/* line 280, ../sass/core.scss */
#ingredients {
  position: absolute;
  left: 80px;
  top: 40px;
  width: 220px;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
/* line 290, ../sass/core.scss */
#ingredients li {
  margin: 10px 0px;
  cursor: pointer;
}
/* line 295, ../sass/core.scss */
#ingredients .crossedOut {
  text-decoration: line-through;
}
/* line 299, ../sass/core.scss */
#ingredients .closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 306, ../sass/core.scss */
#steps {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-size: 1.75em;
}

/* line 315, ../sass/core.scss */
.step {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 30px 50px 30px;
  height: 100%;
  overflow-y: auto;
}
/* line 321, ../sass/core.scss */
.step ul {
  margin-left: 20px;
}
/* line 324, ../sass/core.scss */
.step ul li {
  font-size: 18px;
  margin: 10px 0px;
  list-style-type: circle;
}

/* line 332, ../sass/core.scss */
.currentStep a {
  background: #fff;
}

/* line 336, ../sass/core.scss */
.extra {
  font-size: 16px;
  margin: 30px 0px;
}
/* line 340, ../sass/core.scss */
.extra h1 {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: 10px;
  font-family: "proxima-nova", sans-serif;
}

/* line 349, ../sass/core.scss */
.snippet {
  margin: 30px 0px;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
}
/* line 354, ../sass/core.scss */
.snippet p {
  line-height: 1.25em;
}

/* line 360, ../sass/core.scss */
.foodNote .postedBy {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

/* line 368, ../sass/core.scss */
.step {
  display: none;
}

/**********************************************************/
/* WIDGETS */
/* line 375, ../sass/core.scss */
#badgePicker, #notepad {
  border: 1px solid #666;
  background: #fff;
  position: absolute;
  left: 25px;
  bottom: 37px;
  width: 230px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
  display: none;
}

/* line 389, ../sass/core.scss */
#notepad textarea {
  border: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
  height: 150px;
  padding: 5px;
  resize: none;
}

/* line 399, ../sass/core.scss */
#widgetNav {
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 230px;
  text-align: right;
  padding: 10px 0px;
  font-size: 16px;
  background: #fff;
}
/* line 409, ../sass/core.scss */
#widgetNav a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 7px;
  margin: 1px;
}
/* line 416, ../sass/core.scss */
#widgetNav a.active {
  background: #fff;
  border: 1px solid #666;
  border-top: 1px solid #fff;
  position: relative;
  margin: 0;
  z-index: 999;
}

/**********************************************************/
/* VIDEOS */
/* line 429, ../sass/core.scss */
#videoContainer {
  margin-left: 385px;
  height: 70%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 436, ../sass/core.scss */
#videoContainer.fullsize {
  height: 100%;
}

/* line 440, ../sass/core.scss */
#videos {
  padding: 20px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
}

/* line 447, ../sass/core.scss */
#myInfo {
  position: absolute;
}

/* line 451, ../sass/core.scss */
#chatBoxButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

/**********************************************************/
/* CHAT BOX */
/* line 461, ../sass/core.scss */
#chatBoxContainer {
  margin-left: 385px;
  height: 30%;
  padding-top: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 469, ../sass/core.scss */
#chatBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 100%;
  font-family: "proxima-nova", sans-serif;
  padding-bottom: 27px;
}

/* line 477, ../sass/core.scss */
#chatMessages {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  overflow: auto;
}
/* line 483, ../sass/core.scss */
#chatMessages .chatMessage {
  margin: 5px 0px;
}
/* line 487, ../sass/core.scss */
#chatMessages .chatMessageAuthor {
  font-weight: bold;
}

/* line 492, ../sass/core.scss */
#chatInputContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 1px solid #ccc;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 500, ../sass/core.scss */
#chatInputContainer input {
  display: block;
  width: 100%;
  padding: 7px 10px;
  border: 0px;
  margin: 0px;
}
/* line 508, ../sass/core.scss */
#chatInputContainer input:focus {
  outline: none;
  border: none;
}
