/**********************************************************/
/* REGISTRATION & LOGIN PAGE */

#login, #register {
	#pageTitle {
		margin-bottom:40px;
	}
}

#registrationFormContainer, #loginFormContainer,  {
	width:300px;
	@include lightGreenBg;
	padding:30px;
	margin:20px auto;
	
	label {
		display:none;
	}
	
	input[type=password], input[type=text] {
		padding:7px;
	}
}

/**********************************************************/
/* ACCOUNT INFO PAGE */

#account {
	#pageTitle {
		margin-bottom:40px;
	}
	
	.message {
		margin-bottom:20px;
	}
}

#accountInfoFormContainer {
	width:300px;
	margin:0px auto;
	@include lightBrownBg;
	padding:30px;
	
	.buttons {
		text-align: left;
		margin-top:30px;
	}
	
	label {
		display:none;
	}
	
	h2 {
		@include bigFatLetters;
		color:$orange;
		font-size:16px;
		margin:0px 0px 30px 0px;
	}
	
	fieldset {
		margin:0px 0px 30px 0px;
	}
	
	input[type=submit] {
		width:100%;
		@include box-sizing(border-box);
	}
}