/**********************************************************/
/* REGISTRATION PAGE */

#registrationFormContainer, #loginFormContainer {
	width:300px;
	margin:0px auto;
}

#registration, #login {
	#title {
		text-align: center;
	}
}