/**********************************************************/
/* REGISTRATION & LOGIN PAGE */

#login, #register {
	#pageTitle {
		margin-bottom:40px;
	}
}

#registrationFormContainer, #loginFormContainer,  {
	width:300px;
	@include lightGreenBg;
	padding:30px;
	margin:20px auto;
	
	label {
		display:none;
	}
	
	input[type=password], input[type=text] {
		padding:7px;
	}
}

#registrationForm, #accountInfoForm {
	
	.firstname {
		width:48%;
		float: left;
	}
	
	.lastname {
		width:48%;
		margin-left:52%;
		display:block;
	}
}

/**********************************************************/
/* EDIT ACCOUNT INFO & EDIT PROFILE PAGE */

#profile, #account {
	#pageTitle {
		margin-bottom:40px;
	}
	
	.message {
		margin-bottom:20px;
	}
}

#accountInfoFormContainer {
	width:300px;
	margin:0px auto;
	@include lightBrownBg;
	padding:1px 30px 30px 30px;
}

#accountInfoForm {	
	.buttons {
		text-align: left;
		margin-top:30px;
	}
	
	label {
		display:none;
	}
	
	h2 {
		@include bigFatLetters;
		color:$orange;
		font-size:16px;
		margin:35px 0px 20px 0px;
	}
	
	fieldset {
		margin:0px 0px 30px 0px;
	}
	
	input[type=submit] {
		width:100%;
		@include box-sizing(border-box);
	}
	
	.userpic {
		@include largeUserpic;
		float:left;
	}
	
	#userpicUpload {
		margin-left: 100px;
	}
}