.filterTags {
	font-family:$sans;
	
	a {
		font-weight: bold;
		display:inline-block;
		background:$subtleColor;
		@include border-radius(5px);
		padding:5px 8px;
		color:#666;
		margin-left:10px;
		width:100px;
		text-align: center;
	}
	
	a.selected {
		color:#fff;
		background:#aaa;
	}
}

#invitesTable {
	margin: 30px 0px;
	width:100%;

	th {
		@include smallHeading;
	}

	td, th {
		border-bottom:1px solid #aaa;
		padding:10px;
	}
}