/**********************************************************/
/* INVITE PAGE */


@mixin labelType {
	@include smallHeading;
	font-size:12px;
	margin-bottom:5px;
}

@mixin smallFormalHeading {
	@include smallHeading;
	font-family: $serif;
	font-size: 16px;
	text-align: center;
	margin-bottom:15px;
}

@mixin bigFormalHeading {
	margin:15px;
	font-size:44px;
	font-style: italic;
	text-align: center;
}

#inviteForm {
	float:left;
	width:40%;
	@include box-sizing(border-box);
	padding-right:30px;
	
	.formItem {
		margin-bottom:30px;
	}
	
	label {
		display:block;
		@include labelType;
	}
	
	input, textarea {
		border:1px solid #aaa;
		padding:5px;
		margin:0px;
		width:100%;
		font-size:14px;
	}
	
	textarea {
		height:100px;
		resize: vertical;
	}
	
	.note {
		margin-top:5px;
		font-style:italic;
		font-size:12px;
	}
	
	#chosenRecipe {
		height:70px;
		padding:15px;
		background:#eee;
	}
	
	#recipeThumbnail {
		width:70px;
		height:70px;
		overflow: hidden;
		position: relative;
		float:left;
		margin-right:15px;
	
		img {
			height:100%;
			position: absolute;
			left:-20%;
		}
	}
	
	#recipeTitle {
		font-size:18px;
		margin-bottom:5px;
	}
	
	#sendInviteButton {
		@include bigButton;
		margin:0px;
		font-family: $serif;
		border:0;
		width:auto;
		font-weight: normal;
	}
}

#invitePreviewContainer {
	margin-left:40%;
	
	h3 {
		@include labelType;
	}
	
}

#invitePreview {
	background:#eee;
	padding:20px;
}

#invitation {
	background:#fff;
	border:1px solid #aaa;
	padding:30px;
	
	h1, h2 {
		font-size:36px;
		text-align: center;
	}
	
	h2 {
		@include smallFormalHeading;
	}
	
	h1 {
		@include bigFormalHeading;
	}

	#inviteMessage {
		margin:50px 15px;
		font-family: $sans;
		font-size:18px;
		
		#greeting {
			text-align:left;
		}
		
		#signature {
			text-align: right;
		}
	}
	
	#image {
		position: relative;
		margin-bottom:30px;
		border:10px solid #fff;
		height:200px;
		overflow:hidden;
		@include box-shadow(0px 2px 4px rgba(0,0,0,.3));
		
		#caption {
			display:block;
			position: absolute;
			top:20px;
			background:rgba(0,0,0,.5);
			padding:10px;
			font-size:20px;
			color:#fff;
					
			.subtitle {
				font-style:italic;
				font-size:14px;
			}
		}
		
		img {
			width:100%;
		}
	}

	#shoppingList {
		@include box-sizing(border-box);
		width: 40%;
		float:left;
	
		h1 {
			font-size: 13px;
			margin:0px 0px 15px 0px;
			font-style: normal;
		}
	}
	
	#detailsContainer {
		@include box-sizing(border-box);
		margin-left: 40%;
		padding-left:30px;
	}
	
	#details {
		
		dt {
			@include smallHeading;
			padding-top:15px;
		}
		
		dd {
			font-size:22px;
			margin-bottom:15px;
		}
	}
	
	#RSVPButton {
		@include bigButton;
		width:100px;
		margin: 15px 0px 0px 0px;
	}

	#howItWorks {
		clear:both;
		padding-top:30px;
		
		p {
			font-family:$sans;
			font-size:14px;
		}
	}
}


/**********************************************************/
/* DATE PICKER PLUGIN */

#datePicker {
	width:300px;
	margin-top:10px;
    background: #eee;
    padding:10px;
    position: relative;
    
    h2 {
		text-align: center;
		font-size:14px;
		margin-top:3px;
		margin-bottom:10px;
    	@include smallHeading;
	}
	
	.dp-nav-prev{
		position: absolute;
		left:10px;
		top:10px;
	}
	
	.dp-nav-next{
		position: absolute;
		right:10px;
		top:10px;
	}
	
	.dp-nav-prev .disabled {
		@include opacity(.5);
	}
	
	.dp-nav-prev-year, .dp-nav-next-year, .dp-nav-prev-month, .dp-nav-next-month {
		display: inline-block;
		background:#fff;
		padding: 3px 5px;
		border:1px solid #aaa;
		@include border-radius(5px);
		color:#000;
		font-weight: bold;
	}
	
	.dp-nav-prev-year:hover, .dp-nav-next-year:hover, .dp-nav-prev-month:hover, .dp-nav-next-month:hover {
		background:#eee;
	}
	
	.dp-nav-next-year {
		float:right;
	}
	
	.dp-nav-prev-year, .dp-nav-prev-month {
		margin-right:5px;
	}
	
	.dp-nav-next-year, .dp-nav-next-month {
		margin-left:5px;
	}
}

table.jCalendar {
	width:300px;
	border: 1px solid #aaa;
	background:#fff;
    border-collapse: separate;
    border-spacing: 0px;
    border-spacing:10px;
  	font-family: $sans;
    
    th {
		padding: 5px 8px;
    }
    
    td {
		color: #aaa;
		padding: 3px 5px;
		text-align: center;
		@include border-radius(5px);
    }
    
    td.current-month {
		background: #eee;
		color: #000;
	}
	
	td.today {
		font-weight:bold;
	}
	
	td.selected,
	td.selected.dp-hover {
		background: #f66;
		color: #fff;
	}
	
	td.dp-hover, tr.activeWeekHover td {
		background: #ddd;
		color: #000;
		cursor: pointer;
	}
	
	tr.selectedWeek td {
		background: #f66;
		color: #fff;
	}
	
	td.disabled {
		@include opacity(.3);
		cursor:default;
	}
	
	td.disabled.dp-hover {
		@include opacity(.3);
		background:#eee;
		color:#000;
	}
	
	td.disabled.other-month.dp-hover {
		background:#eee;
		color:#aaa;
	}
	
	td.unselectable,
	td.unselectable:hover,
	td.unselectable.dp-hover {
		@include opacity(.5);
		cursor:default;
	}
}

/**********************************************************/
/* DATE PICKER PLUGIN */

#reply {
	h1#title {
		@include bigFormalHeading;
	}
	
	h2 {
		@include smallFormalHeading;
		margin-top:30px;
	}
}

#inviteInfoContainer {
	padding:20px;
	background:#eee;
}

#inviteInfo {
	padding:30px;
	border:1px solid #aaa;
	background:#fff;
	@include clearfix;
	
	h1 {
		font-size:28px;
		margin-bottom:30px;
	}
	
	#recipeImage {
		float:left;
		margin-right:30px;
		border:10px solid #fff;
		@include box-shadow(0px 2px 4px rgba(0,0,0,.3));
	}
	
	#details {
		margin-left:250px;
		
		dt {
			@include smallHeading;
			padding-top:15px;
		}
		
		dd {
			font-size:22px;
			margin-bottom:15px;
		}
	}
}

#replyForm {
	width:700px;
	margin:0px auto;
	text-align: center;

	.checkbox {
		margin:0px 0px 15px 0px;
	}

	.checkboxLabel {
		text-transform: none;
		font-size:18px;
		display: inline;
		letter-spacing: normal;
		font-style: normal;
		font-family: $serif;
	}
	
	label {
		display: block;
		margin-bottom:5px;
		font-size:14px;
	}
	
	.extraInput {
		margin:15px 20px;
	}
	
	input[type=text] {
		border:1px solid #aaa;
		padding:5px;
		margin:0px;
		width:100%;
		font-size:14px;
	}
	
	textarea {
		width:100%;
		height:100px;
		resize: vertical;
	}
	
	button {
		@include bigButton;
	}
}
	
#replyButtons {
	text-align: center;
	a {
		@include bigButton;
		color:#000;
	}
	
	#answerYes, #answerMaybe {
		background:#DAEDC7;
		color:#3F8000;
	}
	
	#answerYes:hover, #answerMaybe:hover {
		background:#C9E6AC;
	}
	
	#answerYes.selected, #answerMaybe.selected {
		background:#7AB342;
		color:#fff;
	}
	
	#answerNo {
		background:#F7DDCB;
		color:#962D00;
	}
	
	#answerNo:hover {
		background:#F2D3BD;
	}
	
	#answerNo.selected {
		background:#EB6931;
		color:#fff;
	}
}

#replyReasons {
	background:#eee;
	padding:30px 30px 20px 30px;
	margin:30px 0px 0px 0px;
	font-family: $sans;
	border-bottom:1px solid #fff;
	text-align: left;
}

#replyMessage {
	background:#eee;
	padding:30px;
	text-align: left;
	margin:30px 0px;
	
	label {
		@include labelType;
		font-style: normal;
	}
}