/**********************************************************/
/* INVITE PAGE */

#invite {

	#pageIntro {
		margin-bottom: 50px;
	}
}

#inviteFormContainer {
	margin-left:680px;
}

#invitationPreviewContainer {
	float:left;
	width:620px;
	padding:20px 15px 10px 15px;
	background:url(/static/images/email/bg.png);
	
	p {
		margin:15px 0px;
	}
}

#inviteForm {
	@include box-sizing(border-box);
	
	h2 {
		font-weight: 700;
		text-transform: uppercase;
		color:$darkBlue;
		font-size:16px;
		margin-bottom:10px;
	}
	
	input, textarea {
		border:0px;
	}
	
	p {
		font-size:18px;
		margin:30px 0px;
	}

	.formItem {
		margin-bottom:15px;
	}
	
	label {
		font-weight: 700;
		font-size:13px;
		color:$darkBlue;
		margin-bottom:5px;
	}
	
	fieldset {
		background:rgba($mediumBlue, .10);
		padding:15px;
		@include border-radius(10px);
		margin:0px 0px 30px 0px;
		
		p {
			margin-top:0px;
		}
	
		.formNote {
			font-size:13px;
			line-height:1.4em;
			margin-bottom:0px;
		}
	}
	
	#chosenRecipe {
		p {
			margin-bottom:15px;
		}
		
		.button {
			margin-bottom:10px;
		}
	}
	
	#recipeTitle {
		font-weight:700;
	}
	
	#sendInvitationButton {
		@include bigButton;
	}
}


/**********************************************************/
/* DATE PICKER PLUGIN */

#datePicker {
	width:300px;
	margin-top:10px;
    background: rgba($mediumBlue, .1);
    padding:10px;
    position: relative;
    
    h2 {
		text-align: center;
		font-size:14px;
		margin-top:3px;
		margin-bottom:10px;
    	@include smallHeading;
	}
	
	.dp-nav-prev{
		position: absolute;
		left:10px;
		top:10px;
	}
	
	.dp-nav-next{
		position: absolute;
		right:10px;
		top:10px;
	}
	
	.dp-nav-prev .disabled {
		@include opacity(.5);
	}
	
	.dp-nav-prev-year, .dp-nav-next-year, .dp-nav-prev-month, .dp-nav-next-month {
		display: inline-block;
		background:$mediumBlue;
		padding: 3px 5px;
		@include border-radius(5px);
		color:#fff;
		font-weight: bold;
	}
	
	.dp-nav-prev-year:hover, .dp-nav-next-year:hover, .dp-nav-prev-month:hover, .dp-nav-next-month:hover {
		background:$darkBlue;
	}
	
	.dp-nav-next-year {
		float:right;
	}
	
	.dp-nav-prev-year, .dp-nav-prev-month {
		margin-right:5px;
	}
	
	.dp-nav-next-year, .dp-nav-next-month {
		margin-left:5px;
	}
}

table.jCalendar {
	width:300px;
	background:#fff;
    border-collapse: separate;
    border-spacing: 0px;
    border-spacing:10px;
  	font-family: $sans;
    
    th {
		padding: 5px 8px;
    }
    
    td {
		color: $textColor;
		padding: 3px 5px;
		text-align: center;
		@include border-radius(5px);
    }
    
    td.current-month {
		background: $subtleColor;
		color: #000;
	}
	
	td.today {
		font-weight:bold;
	}
	
	td.selected,
	td.selected.dp-hover {
		background: $orange;
		color: #fff;
	}
	
	td.dp-hover, tr.activeWeekHover td {
		background: #ddd;
		color: #000;
		cursor: pointer;
	}
	
	tr.selectedWeek td {
		background: #f66;
		color: #fff;
	}
	
	td.disabled {
		@include opacity(.3);
		cursor:default;
	}
	
	td.disabled.dp-hover {
		@include opacity(.3);
		background:$subtleColor;
		color:#000;
	}
	
	td.disabled.other-month.dp-hover {
		background:$subtleColor;
		color:$textColor;
	}
	
	td.unselectable,
	td.unselectable:hover,
	td.unselectable.dp-hover {
		@include opacity(.5);
		cursor:default;
	}
}

/**********************************************************/
/* INVITATION SENT PAGE */

#invitationSent {
	#pageTitle {
		margin-bottom:30px;
	}
	
	.intro {
		text-align: center;
		font-size:22px;
		margin-bottom:5px;
	}

	p.message {
		text-align: center;
		font-size:16px;
		color:$textColor;
	}
	
	#invitationPreviewContainer {
		margin:40px auto;
		float:none;
	}
}



/**********************************************************/
/* RSVP PAGE */

#reply {
	h1#title {
		@include bigFormalHeading;
	}
}

#invitationInfoContainer {
	padding:20px;
	background:$subtleColor;
}

#invitationInfo {
	padding:30px;
	border:1px solid #aaa;
	background:#fff;
	@include clearfix;
	
	h1 {
		font-size:28px;
		margin-bottom:30px;
	}
	
	#recipeImage {
		float:left;
		margin-right:30px;
		border:10px solid #fff;
		@include box-shadow(0px 2px 4px rgba(0,0,0,.3));
	}
	
	#details {
		margin-left:250px;
		
		dt {
			@include smallHeading;
			padding-top:15px;
		}
		
		dd {
			font-size:22px;
			margin-bottom:15px;
		}
	}
}

#replyForm {
	width:700px;
	margin:0px auto;
	text-align: center;

	.checkbox {
		margin:0px 0px 15px 0px;
	}

	.checkboxLabel {
		text-transform: none;
		font-size:18px;
		display: inline;
		letter-spacing: normal;
		font-style: normal;
		font-family: $serif;
	}
	
	label {
		display: block;
		margin-bottom:5px;
		font-size:14px;
	}
	
	.extraInput {
		margin:15px 20px;
	}
	
	input[type=text] {
		border:1px solid #aaa;
		padding:5px;
		margin:0px;
		width:100%;
		font-size:14px;
	}
	
	textarea {
		width:100%;
		height:100px;
		resize: vertical;
	}
	
	button {
		@include bigButton;
	}
}
	
#replyButtons {
	text-align: center;
	a {
		@include bigButton;
		color:#000;
	}
	
	#answerYes, #answerMaybe {
		background:#DAEDC7;
		color:#3F8000;
	}
	
	#answerYes:hover, #answerMaybe:hover {
		background:#C9E6AC;
	}
	
	#answerYes.selected, #answerMaybe.selected {
		background:#7AB342;
		color:#fff;
	}
	
	#answerNo {
		background:#F7DDCB;
		color:#962D00;
	}
	
	#answerNo:hover {
		background:#F2D3BD;
	}
	
	#answerNo.selected {
		background:#EB6931;
		color:#fff;
	}
}

#replyReasons {
	background:$subtleColor;
	padding:30px 30px 20px 30px;
	margin:30px 0px 0px 0px;
	font-family: $sans;
	border-bottom:1px solid #fff;
	text-align: left;
}

#replyMessage {
	background:$subtleColor;
	padding:30px;
	text-align: left;
	margin:30px 0px;
	
	label {
		@include labelType;
		font-style: normal;
	}
}

/**********************************************************/
/* VIEWING INVITATIONS */

#invitations {
	#pageTitle {
		margin-bottom:40px;
	}
	
	#pageIntro {
		margin-bottom:40px;
	}
}

#invitationsSidebar {
	float:left;
	width: 170px;
	
	nav {
		a {
			display: block;
			margin:0px 0px 15px 0px;
			font-weight: 700;
			color: $textColor;
			font-size: 16px;
			
			&:hover {
				color:$orange;
			}
		
			&.selected {
				color:$green;
			}
		}
		
		.alertText {
			@include alertNumber;
			width:auto;
			padding:3px 5px 3px 5px;
			font-size:11px;
			position: relative;
			top:-1px;
			margin-left:5px;
		}
	}
}

#invitationContainer {
	margin-left:200px;
	
	.invitationType {
		margin-bottom:30px;
		font-weight: 700;
		font-size:14px;	
	}
	
	.message {
		text-align: left;
		font-size:18px;
		color:$textColor;
		margin: 0px 0px 30px 0px;
	}
	
	.alertNumber {
		@include alertNumber;
		width:20px;
		height:20px;
		padding:0px;
		font-size:14px;
		line-height: 21px;
	}
	
	.invitation, #singleInvitation {
		@include lightBrownBg;
		padding:50px 30px 30px 30px;
		position: relative;
		@include clearfix;
		margin-bottom:30px;
		
		.statusBar {
			@include box-sizing(border-box);
			position: absolute;
			width:100%;
			background: #e2decd url(/static/images/textureStrong.png);
			left:0;
			top:0;
			padding: 5px 10px;
			@include bigFatLetters;
			color:$darkBrown;
			
			&.accepted {
				background: $green url(/static/images/textureStrong.png);
				color: #fff;
			}
			
			&.declined {
				background: rgba($mediumBlue, .15);
				color:$darkBlue;
			}
			
			&.changeNeeded {
				background: rgba($orange, .15);
				color:$orange;
			}
		}
		
		.sendDate {
			position: absolute;
			right:8;
			top:5;
			font-weight: 600;
			text-transform: none;
			font-size:12px;
		}
	
		.mealImage {
			width:120px;
			height:120px;
			overflow:hidden;
			border:5px solid #fff;
			float:left;
			
			img {
				height:100%;
			}
		}
		
		.invitationInfo {
			margin-left:150px;
			font-size:16px;
			
			h2 {
				font-size:20px;
				font-weight: 700;
			}
			
			.label {
				@include bigFatLetters;
				font-size:12px;
				margin-right: 10px;
				
				&.date {
					color:$orange;
				}
				
				&.time {
					margin-left:20px;
					color:$green;
				}
			}
			
			.datetime {
				margin:10px 0px 20px 0px;
			}
			
			.with {
				margin:10px 0px;
			
				.label {
					color:$darkBlue;
				}
			}
		}
	}
	
	.invitation {
		.partnerUserpic {
			@include largeUserpic;
			position: absolute;
			left:15px;
			top:35px;
		}
		
		.invitationInfo {
			.datetime {
				margin:10px 0px 20px 0px;
			}
		}
	}
	
	#singleInvitation {
		.mealImage {
			width:230px;
			height:230px;
			
			img {
				position: relative;
				left:-18%;
			}
		}
		
		.invitationInfo {
			margin-left:270px;
			font-size:20px;
			
			h2 {
				font-size:30px;
				margin-bottom:20px;
			}
			
			.label {
				font-size:14px;
				display:block;
				margin-bottom:8px;
			}
			
			.datetime1 {
				float:left;
				margin-right:30px;
			}
			
			.with {
				margin-top:20px;
			}
		}
		
		.userpic {
			@include largeUserpic;
			margin-right:10px;
		}
	}
}

#invitationActivity {
	.activityItem {
		min-height:56px;
		margin:30px 0px;
		
		h3 {
			padding:15px 0px;
			font-size:18px;
		}
	}
	
	.activityBody {
		margin-left:75px;
	}
	
	.userpic {
		@include userpic;
		float:left;
	}
	
	.reply {
		padding:10px 15px 1px 15px;
		@include lightBrownBg;
		font-size:18px;
	
		.mainReply {
			font-size:30px;
			font-weight: 700;
			margin-bottom:5px;
		}
		
		&.yes {
			@include lightGreenBg;
		}
		
		&.maybe {
			@include lightOrangeBg;
		}
		
		&.no {
			@include lightBlueBg;
		}
	}
}


#invitationFilters {
	margin-bottom:30px;
}