/**********************************************************/
/* MEALS PAGE */

body#meals {
	#sectionTitle {
		.small {
			display:inline-block;
			width: 85px;
			line-height:21px;
			
			em {
				font-weight:500;
			}
		}
	}
		
	.intro {
		text-align: center;
		font-weight: 300;
		font-size:16px;
	}
	
	.meal {
		@include imageOuterBorder;
		position: relative;
	}
	
	.mealImageLink {
		display: block;
		position: relative;
		overflow: hidden;
		@include imageInnerBorder;
		left:0px;
		top:0px;
	}
	
	.mealInfo {
		background:rgba($darkBlue, .9);
		position: absolute;
		display: none;
		padding:20px;
			
		a {
			color:#fff;
		}
		
		h2 {
			font-weight: bold;
			font-size:26px;
		}
	}
	
	.cookedBy {
		display: none;
		position: absolute;
		
		h3 {
			color:#fff;
			@include decorativeType;
			font-size:12px;
		}
		
		ul {
			margin-top:5px;
		}
		
		li {
			display: inline-block;
			@include smallUserpic;
			font-size:10px;
			font-weight: 700;
			color:$darkBrown;
			text-transform: uppercase;
		}
		
		img {
			text-transform: uppercase;
		}
		
		.moreLink {
			display: block;
			padding-top:5px;
			color:$darkBrown;
		}
	}
}

#featuredMeal.meal:hover, #mealsList .meal:hover {
	border: 10px solid rgba($darkBrown, .2);
}

#featuredMeal {
	margin: 30px 0px;
	
	h1 {
		position: absolute;
		left:-15px;
		top:25px;
		z-index: +1;
		color:#fff;
		background:$orange;
		@include bigFatLetters;
		font-size:22px;
		padding: 6px 16px;
		letter-spacing: .05em;
		font-weight: 800;
		
		em {
			@include decorativeType;
			letter-spacing:0em;
			font-weight: 400;
			font-size:18px;
		}
	}
	
	.mealImageLink {
		height:335px;
	}
	
	.mealImage {
		position: absolute;
		top: -70%;
		width:100%;	
	}
	
	.mealInfo {
		right:20px;
		top: 20px;
		padding:25px;
		height:250px;
		width:240px;
		color:#fff;
		
		h2 {
			margin-bottom: 15px;
		}
		
		p {
			font-size:15px;
		}
		
		ul {
			margin-bottom:15px;
			@include clearfix;
		}
		
		li {
			font-weight: 700;
			font-size:13px;
			float:left;
			width:50%;
			margin:5px 0px;
		}
	}
	
	.cookedBy {
		width:38px;
		left:22px;
		top:100px;
		text-align: center;
		
		li {
			margin: 5px 0px;
		}
		
		li:hover {
			position: relative;
			left:3px;
		}
	}
}

#mealsList .meal {
	float:left;
	@include box-sizing(border-box);
	width:30%;
	margin-right:5%;
	
	.mealImageLink {
		height:175px;
	}
	
	.mealImage {
		width:100%;
	}
	
	.mealInfo {
		@include box-sizing(border-box);
		width:100%;
		height:100%;
		top:0;
		left:0;
		@include imageInnerBorder;
		
		a {
			display: block;
			height:100%;
			width:100%;
		}
	}
	
	.cookedBy {
		position: absolute;
		left: 20px;
		bottom:20px;
		
		li {
			vertical-align:middle;
			margin:0px 10px 0px 0px;
		}
		
		li:hover {
			position: relative;
			top:-3px;
		}
		
		.moreLink {
			text-align: center;
		}
	}
}

#mealsList .meal.end {
	margin-right:0;
}


/**********************************************************/
/* SINGLE MEAL PAGE */

$mealSidebarWidth:300px;
$mealSidebarRightOffset:33px;

#meal #returnLink {
	float:left;
	display: block;
	width:70px;
	height:70px;
	@include bigFatLetters;
	background:rgba($mediumBlue, .4) url(/static/images/textureSoft.png);
	color:#fff;
	text-align: center;
	@include border-radius(100px);
	@include box-sizing(border-box);
	padding:18px 10px 10px 10px;
	font-size:12px;
	margin-left:8px;
}

#meal #returnLink:hover {
	background:rgba($mediumBlue, .6) url(/static/images/textureSoft.png);
}

#mealImageContainer {
	@include imageOuterBorder;
	margin-bottom:30px;
}

#mealImage {
	@include imageInnerBorder;
	height:300px;
	overflow: hidden;
	position: relative;
	
	img {
		position: absolute;
		top: -70%;
		width:100%;
	}
}

#mealTitle {
	@include bigHeading;
	margin-left:100px;
	margin-bottom:10px;
}

#mealFacts {
	font-size:16px;
	margin-left:100px;
	margin-bottom:30px;
	
	li {
		display:inline-block;
		margin-right:20px;
	}
}

#mealSidebar {
	float:right;
	width:$mealSidebarWidth;
	margin-right:$mealSidebarRightOffset;
	position: relative;
	z-index: +1;
	margin-top:-300px;
	
	#importantStuff {
		padding:10px;
		background: $reallyLightBrown url(/static/images/textureStrong.png);
		@include border-radius(5px);
		@include box-shadow(0 1px 2px rgba(0,0,0,.35));
	}
}

#shoppingList {
	padding:10px;
	background: #fff url(/static/images/textureSoft.png);
	
	h1 {
		@include decorativeType;
		color:$mediumBlue;
		text-align: center;
		margin:15px 0px 20px 0px;
		font-size:24px;
	}
		
	li {
		font-size:16px;
		font-family: $sans;
		padding:8px 10px;
		
		.amount {
			float: right;
			padding-left:6px;
			font-weight:bold;
			font-size:.8em;
		}
	}
	
	li.odd {
		background:#f4f7f6 url(/static/images/textureSoft.png);
	}
}

#cookedBy {
	margin-top:30px;
	padding:0px 0px 0px 10px;
	
	h1 {
		@include sectionTitle;
		color:$orange;
	}
	
	ul {
		margin-right:-18px;
	}

	li {
		@include smallUserpic;
		width:40px;
		height:40px;
		display: inline-block;
		margin:0px 10px 15px 0px;
	}
	
	li:hover {
		position: relative;
		top:-3px;
	}
}

#inviteButton {
	@include bigButton;
	@include box-sizing(border-box);
	display: block;
	margin:20px;
	margin-bottom:30px;
}

#inviteButton:active {
	@include box-shadow(0 3px 0 darken($green, 15));
	position: relative;
	top:4px;
}

#mealDescription {
	margin-right: $mealSidebarRightOffset+$mealSidebarWidth+30;
	font-size:22px;
	
	h1 {
		@include sectionTitle;
		color:$darkBlue;
	}
}

#mealCredits {
	margin-top:30px;
	padding:20px;
	background:rgba($green, .15);
	font-size: 13px;
	@include clearfix;
	
	h1 {
		font-weight: 700;
		text-transform: none;
		font-size: 13px;
		margin-bottom:5px;
		color:$textColor;
	}
	
	p {
		margin:0;
	}
	
	#submissionUser {
		width:48px;
		@include border-radius(100px);
		float:left;
		margin-right:15px;
	}
	
	.stuff {
		width: 50%;
		float:left;
	}
}