/**********************************************************/
/* RECIPE PAGE */

#bigImage {
	height:300px;
	overflow: hidden;
	position: relative;
	margin-bottom:30px;
	
	img {
		position: absolute;
		top: -70%;
		width:100%;
	}
}

#descriptionContainer {
	float:left;
	font-size:16px;
	@include box-sizing(border-box);
	padding-right:30px;
	width: 43%;
}

#summary {
	line-height: 1.5em;
}

#credit {
	font-size:.8em;
	font-style: italic;
}

#shoppingListContainer {
	float:left;
	width:33%;
	@include box-sizing(border-box);
	padding-right:30px;
}

#shoppingList {
	padding:20px;
	background:#eee;
	
	h1 {
		@include smallHeading;
		text-align: center;
		font-family: $serif;
		margin-bottom:15px;
	}
		
	li {
		font-size:16px;
		font-family: $sans;
		padding:10px 0px;
		border-top:1px dashed #ccc;
		
		.amount {
			float: right;
			padding-left:6px;
			font-weight:bold;
			font-size:.8em;
		}
	}
}

#actions {
	@include box-sizing(border-box);
	margin-left: 76%;
	width: 24%;
	h1 {
		@include smallHeading;
	}
}

#inviteButton {
	@include bigButton;
	@include box-sizing(border-box);
	margin:0;
	width:100%;
	font-size:18px;
	margin-bottom:30px;
}