/**********************************************************/
/* DRESSING ROOM */

#dressingRoom {
	h1 {
		padding:40px;
		text-align: center;
		
		img {
			width:230px;
		}
	}
	
	
}

#dressingRoomBox {
	width:800px;
	@include lightBrownBorder;
	background:#fff;
	padding:30px;
	margin:0px auto;
	@include clearfix;
	
	h2 {
		@include bigFatLetters;
		font-size:30px;
		text-align: center;
		color:$darkBlue;
	}
	
	p.intro {
		margin-top:10px;
		text-align: center;
		width:80%;
		margin:10px auto 20px auto;
	}
	
	#testVideoContainer {
		float: left;
		width:370px;
		margin-right: 20px;
		height:240px;
	}
	
	h3 {
		@include bigFatLetters;
		font-size:16px;
		color:$mediumBlue;
		margin-bottom:10px;
	}
	
	ul {
		margin-left: 400px;
		padding-left:25px;
	}
	
	li {
		list-style-type: disc;
		font-size:16px;
		padding:5px 0px;
	}
	
	.bigButton {
		margin-top:20px;
	}
}


/**********************************************************/
/* COOKING ROOM */
	
#roomBg {
	background: url(/static/images/bg_clouds.png) center top no-repeat;
	padding:0px 20px;
}

#cookingRoom {
	background: #fff url(/static/images/textureSoft.png);
	
	#userId {
		display: none;
	}
	
	header {
		width:100%;
		height:65px;
		position: relative;
		
		h1 {
			margin:0px;
			padding-top:10px;
			text-align: center;
			
			img {
				height:48px;
			}
		}
	}
	
	#serviceNav {
		position: absolute;
		top:20px;
		right:0px;
	}
}

#cookingArea {
	@include border-radius(10px);
	@include box-sizing(border-box);
	background: #e7e6e3 url(/static/images/textureSoft.png);
	position: relative;
}


/**********************************************************/
/* COOKING ROOM: RECIPE */

$recipeTitleHeight:65px;
$widgetNavHeight:45px;

#recipeContainer {
	position: relative;
	float:left;
	width:360px;
	@include box-sizing(border-box);
	background:#fff;
	height:100%;
	padding-top:$recipeTitleHeight;
	padding-bottom:$widgetNavHeight;
	
	#recipeTitle {
		position: absolute;
		left:0px;
		top:0px;
		height:$recipeTitleHeight;
		margin:0px;
		width:100%;
		text-align: center;
		background: #f0efec url(/static/images/textureSoft.png);
		@include border-top-left-radius(10px);
		@include box-sizing(border-box);
		padding:15px;
		font-weight: 700;
		font-size:19px;
		
		.label {
			@include bigFatLetters;
			color:$orange;
			font-size:11px;
			letter-spacing:.01em;
			margin-bottom:3px;
		}
	}
}

#recipe {
	height: 100%;
}

#recipeNav {
	float:left;
	width:50px;
	height:100%;
	text-align: center;
	padding:15px 0px 15px 5px;
	@include box-sizing(border-box);
	background: #d9d6d1 url(/static/images/textureSoft.png);
	
	.userStepIcon {
		@include userpic;
		width:28px;
		height:28px;
		position: absolute;
		top: -2;
		left: -21px;
		display:none;
	}
}
	
#stepTabs {

	li {
		position:relative;
		
		.userStepIcon {
			display:block;
		}
		
		a {
			display:block;
			border-right:0px;
			padding:7px;
			margin:0px 0px 3px 0px;
			font-weight: bold;
			font-size:14px;
			@include border-top-left-radius(5px);
			@include border-bottom-left-radius(5px);
			color:$darkBrown;
		}
	}
}

#cookingRoom {
	
	#steps {
		@include box-sizing(border-box);
		position: relative;
		height:100%;
		overflow: hidden;
		background:#fff;
		font-size:20px;
	}
	
	.step, #recipeStart {	
		@include box-sizing(border-box);
		padding:25px;
		height: 100%;
		
		p {
			line-height:1.3em;
		}
	}
	
	#recipeStart {
		position: relative;
		overflow: hidden;
	
		#startButtonContainer {
			margin-top:27%;
			@include lightGreenBg;
			padding:25px;
			text-align: center;
			
			p {
				font-size:17px;
				line-height:1.3em;
			}
		}
	
		.instructions {
			position: absolute;
		
			p {
				font-size:14px;
				line-height:1.25em;
			}
			
			h2 {
				@include bigFatLetters;
				letter-spacing: .1em;
				color:$green;
				font-size:11px;
				margin-bottom:5px;
			}
		}
		
		#instructionsCookingTimeline {
			top: 25px;
			
			img {
				position: absolute;
				top: 47px;
				left: -20px;
			}
		}
		
		#instructionsKeyboardNav {
			position: relative;
			margin-top: 25px;
			
			p {
				margin-right:150px;
			}
			
			img {
				width:150px;
				float:right;
			}
		}
		
		#instructionsCookingNotes {
			bottom:14px;
			width:243px;
			
			img {
				position: absolute;
				right: 6px;
				top: 28px;
			}
		}
	}
	
	.step {
		display:none;
		overflow-y: auto;
		overflow-x: hidden;
		
		h2 {
			@include bigFatLetters;
			letter-spacing:0.1em;
			color:$mediumBlue;
			font-size:14px;
			margin-bottom:4px;
		}
	
		ul {
			margin-left:20px;
			
			li {
				font-size:18px;
				margin:10px 0px;
				list-style-type:circle;
			}
		}
	}
	
	.currentStep a {
		background:#fff;
	}
	
	.extra {
		@include lightGreenBg;
		padding:15px 15px 1px 15px;
		font-size:14px;
		margin:20px 0px;
		
		h1 {
			@include bigFatLetters;
			color:$green;
			font-size:11px;
			float:left;
			position: relative;
			top: 4px;
			margin-right: 7px;
			letter-spacing: .1em;
		}
	}
	
	.noteFormInline {
		textarea {
			background:#EBF4F5;
			@include border-radius(5px);
			margin-bottom:10px;
			height:50px;
			
			&:focus {
				outline:none;
				background:darken(#ebf4f5, 4);
			}
		}
		
		input[type=submit] {
			@include smallButton;
			width: 100%;
		}
	}
	
	#ingredients {
		margin:0px;
		
		li {
			font-size:16px;
			height:33px;
			@include box-sizing(border-box);
			list-style-type: none;
			margin:0px;
			padding:4px 5px 6px 30px;
			cursor: pointer;
			background:url(/static/images/checkbox.png) 7px 9px no-repeat;
			
			&.odd {
				background: #f4f7f6 url(/static/images/checkbox.png) 7px 9px no-repeat;
			}
		}
		
		.amount {
			font-size:12px;
			font-weight: 700;
			margin-left:5px;
		}
		
		.crossedOut {
			background:url(/static/images/checkboxChecked.png) 7px 8px no-repeat;
			
			&.odd {
				background: #f4f7f6 url(/static/images/checkboxChecked.png) 7px 8px no-repeat;
			}
		}
		
		.closeButton {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
	
	.notesContainer {
		margin:30px 0px;
	}
	
	.cookingNote {
		font-family: $sans;
		margin:15px 0px;
		position: relative;
		
		p {
			font-style: normal;
		}
		
		.userpic {
			@include userpic;
			width:32px;
			height:32px;
			float:left;
		}
		
		.noteContent {
			font-size:12px;
		}
	
		.timestamp {
			text-align: right;
			font-style: normal;
			display: block;
			margin-bottom:5px;
			font-size:10px;
			text-transform: uppercase;
		}
	}
	
	.cookingNote.note {
		.noteContent {
			margin-left:25px;
			@include lightBrownBg;
			padding:10px 10px 10px 20px;
			@include border-radius(5px);
		}
		
		.userpic {
			margin-top:15px;
		}
	}
	
	.cookingNote.stamp {
	
		.noteContent {
			height: 40px;
		
			p {
				position: absolute;
				background:#ff0000;
				left:60px;
				top:21px;
				padding:2px 4px;
				color:#fff;
				text-transform: uppercase;
				letter-spacing:.1em;
				font-weight: bold;
				font-size:10px;
			}
		
			img {
				width:40px;
				position: absolute;
				top: 10px;
				left:22px;
			}
		}
	}
}
/**********************************************************/
/* WIDGETS */

.widget {
	display:none;
	@include border-radius(5px);
	position: absolute;
	right:10px;
	bottom: 57px;
	width:230px;
	@include box-sizing(border-box);
	padding: 20px;
	font-size:14px;
	@include box-shadow(0px 3px 5px rgba($darkBrown, .7));
	background:#828a91;
	color:#fff;
	
	.closeButton {
		position: absolute;
		top:5px;
		right: 5px;
	}
}

#notepad {

	p {
		line-height:1.2em;
		font-size:13px;
		margin-bottom:4px;
	}

	textarea {
		@include border-radius(5px);
		margin-bottom:10px;
		width:100%;
		height:150px;
		padding:5px;
		resize: none;
		font-style:normal;
	}
	
	input[type=submit] {
		width:100%;
		cursor: pointer;
	}
}

#stampPicker ul {
	margin:10px 0px 0px 0px;
	@include clearfix;
	background:#fff;
	@include border-radius(5px);
}

#stampPicker .stamp {
	font-family: $sans;
	float:left;
	
	.stampButton {
		display:block;
		height:42px;
		width:43px;
		padding:10px;
	}
	
	.stampInfo {
		display: none;
		margin-top:5px;
		font-size:13px;
	}
}

#stampInfoDisplay, #stampInstructions {
	font-style: normal;
	height:32px;
	
	p {
		font-size:13px;
		line-height:1.3em;
	}
}

#stampInfoDisplay {
	h3 {
		font-weight: bold;
		margin-bottom:4px;
	}
}

#widgetNav {
	position: absolute;
	bottom:0;
	left:0px;
	width:100%;
	height:$widgetNavHeight;
	@include box-sizing(border-box);
	text-align: right;
	background: #f0efec url(/static/images/textureSoft.png);
	@include border-bottom-left-radius(10px);
	padding:7px;
	
	a {
		@include box-sizing(border-box);
		display: inline-block;
		text-align: left;
		text-indent: -9999px;
		width:50px;
		height: 31px;
		@include border-radius(5px);
		background-position:center center;
		background-repeat:no-repeat;
		
		&:hover {
			background-color:rgba($darkBrown, .2);
		}
		
		&.active {
			border-top:1px solid #fff;
			position: relative;
			margin:0;
			z-index: 999;
			background-color:#fff;
			background-repeat:no-repeat;
		}
	}
	
	#stampPickerButton {
		background-image:url(/static/images/icon_stamp.png);
		
	}
	
	#notepadButton {
		background-image:url(/static/images/icon_note.png);
	}
}

/**********************************************************/
/* VIDEOS */

#videoContainer {
	margin-left: 360px;
	height:74%;
	@include box-sizing(border-box);
	position: relative;
	padding:0px 0px;

	&.fullsize {
		height:100%;
		padding-bottom:40px;
	}
}

#videos {
	padding:20px 20px 30px 20px;
	height:100%;
	@include box-sizing(border-box);
	position: relative;
}

#friendVideoPlaceholder {
	background-color:rgba($darkBrown, .1);
	color: rgba($darkBrown, .4);
	height:100%;
	position: relative;
	font-size:30px;
	font-weight: 700;
	border:5px solid rgba($darkBrown, .1);
	
	p {
		position:absolute;
		top:45%;
		width:100%;
		text-align: center;
	}
}

#myVideoContainer, .friendVideo, #testVideoContainer {
	border:5px solid #fff;
	@include box-shadow(0px 1px 4px rgba(0,0,0,.5));
}

#myVideoContainer {
	position: absolute;
	bottom:20px;
	right:20px;
	z-index: +999;
}

.attendeeStatus {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 15px;
	padding: 6px 7px 6px 10px;
	background:#fff;
	@include border-bottom-left-radius(5px);
	
	.status {
		margin-left:5px;
	}
}

#myStatus {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	background: white;
	padding: 1px 2px 4px 6px;
	@include border-bottom-left-radius(5px);
	
	.status {
		margin-left:1px;
	}
}

.attendeeStatus, #myStatus {
	font-weight: 700;
	z-index: +2;

	.status {
		color:$orange;
		font-size:11px;
	}
}

.friendVideo {
	@include box-sizing(border-box);
}


/**********************************************************/
/* CHAT BOX */

#hideChatButton, #showChatButton {
	font-weight: bold;
	background:$mediumBlue;
	padding: 4px 5px 4px 5px;
	border-radius: 5px;
	color:#fff;
	@include bigFatLetters;
	font-size:10px;
	letter-spacing:.05em;
	
	&:hover {
		background: darken($mediumBlue, 5);
	}
}

#hideChatButton {
	position: absolute;
	top:5px;
	right:25px;
	z-index: +3;
}

#showChatButton {
	position: absolute;
	right: 220px;
}

#chatBoxContainer {
	margin-left: 360px;
	margin-right:200px;
	height:26%;
	padding:0px 20px 20px 20px;
	@include box-sizing(border-box);
	position: relative;
}

#chatBox {
	@include box-sizing(border-box);
	height: 100%;
	font-family: $sans;
	padding-top:5px;
	padding-bottom:35px;
	background:#fff;
	@include border-radius(5px);
	position: relative;
}

#chatMessages {
	height:100%;
	@include box-sizing(border-box);
	padding:5px 15px;
	overflow: auto;
	
	.chatMessage {
		margin: 5px 0px;
	}
	
	.chatMessageAuthor {
		font-weight: bold;
	}
}

#chatInputContainer {
	position: absolute;
	bottom:0px;
	left:0px;
	width:100%;
	@include box-sizing(border-box);
	padding:5px;
	height:35px;
	
	input {
		display: block;
		width:100%;
		padding:7px 5px;
		height:25px;
		border:0px;
		margin:0px;
		background:#ebf4f5;
		@include border-radius(3px);
		font-size:13px;
	}
	
	input:focus {
		outline:none;
		background:darken(#ebf4f5, 4);
	}
}
