/**********************************************************/
/* COOKING ROOM */


#container {
	width:95%;
	margin:0px auto;
	@include box-sizing(border-box);
}

#room #container {
	height:95%;
	padding: 20px 0px;
}

#room header {
	width:100%;
	height:5%;
	background: #222;
	color:#fff;
	@include box-sizing(border-box);
	
	h1 {
		font-size:20px;
		width:95%;
		margin:0 auto;
		padding:10px 0;
	}
}


/**********************************************************/
/* COOKING ROOM: RECIPE */

#recipeContainer {
	position: relative;
	float:left;
	width:360px;
	padding:40px 10px 50px 10px;
	@include box-sizing(border-box);
	background:#eee;
	height:100%;
}

#recipeNav {
	float:left;
	width:60px;
}
	
#stepTabs li {
	position:relative;

	.positionMarker {
		position: absolute;
		top: 0;
		left: 30px;
	}
	
	a {
		display:block;
		border-right:0px;
		padding:7px;
		margin:0px 0px 3px 0px;
		font-family: $sans;
		font-weight: bold;
		font-size:1.2em;
		@include border-top-left-radius(5px);
		@include border-bottom-left-radius(5px);
	}
}

#stepsNav {
	position: absolute;
	bottom:20px;
	left:80px;
}

#ingredientsButton {
	display: block;
	width:45px;
	background:#ddd;
	padding:5px;
	margin-bottom:5px;
	@include border-radius(5px);
	overflow: hidden;
}

#recipe {
	height: 100%;
}

#room {

	#recipeTitle {
		position: absolute;
		top:15px;
		left:0;
		width:100%;
		text-align: center;
		font-size:13px;
		text-transform: uppercase;
		letter-spacing:.15em;
	}

}

#ingredients {
	position: absolute;
	left: 80px;
	top: 40px;
	width: 220px;
	padding: 20px;
	background:#fff;
	@include box-shadow(0px 2px 5px rgba(0,0,0,.2));
	font-size:16px;
	
	li {
		margin:10px 0px;
		cursor: pointer;
	}
	
	.crossedOut {
		text-decoration: line-through;
	}
	
	.closeButton {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

#steps {
	@include box-sizing(border-box);
	position: relative;
	height:100%;
	overflow: hidden;
	background:#fff;
	font-size:1.75em;
}

.step {	
	@include box-sizing(border-box);
	padding:30px 30px 50px 30px;
	height: 100%;
	overflow-y: auto;

	ul {
		margin-left:20px;
		
		li {
			font-size:18px;
			margin:10px 0px;
			list-style-type:circle;
		}
	}
}

.currentStep a {
	background:#fff;
}

.extra {
	font-size:16px;
	margin:30px 0px;
	
	h1 {
		@include smallHeading;
	}
}

.snippet {
	margin:30px 0px;
	font-size:14px;
	font-family: $sans;
	
	p {
		line-height:1.25em;
	}
}

.foodNote {
	.postedBy {
		display: block;
		margin-top:10px;
		font-size:10px;
		text-transform: uppercase;
	}
}

.step {
	display:none;
}

/**********************************************************/
/* WIDGETS */

.widget {
	border:1px solid #666;
	background:#fff;
	position: absolute;
	left:25px;
	bottom: 37px;
	width:230px;
	@include box-sizing(border-box);
	padding: 20px;
	font-size:14px;
	display:none;
	
	.closeButton {
		position: absolute;
		top:5px;
		right: 5px;
	}
}

#notepad {
	textarea {
		border:1px solid #ccc;
		margin-top:10px;
		width:100%;
		height:150px;
		padding:5px;
		resize: none;
	}
}

.badge {
	font-family: $sans;
	margin: 10px 0px;
	
	.description {
		display: block;
		margin-top:5px;
		font-size:12px;
	}
}

#widgetNav {
	position: absolute;
	bottom:0;
	left:25px;
	width:230px;
	text-align: right;
	padding:10px 0px;
	font-size:16px;
	background:#fff;
	
	a {
		@include box-sizing(border-box);
		display: inline-block;
		padding:5px 7px;
		margin:1px;
	}
	
	a.active {
		background: #fff;
		border:1px solid #666;
		border-top:1px solid #fff;
		position: relative;
		margin:0;
		z-index: 999;
	}
}

/**********************************************************/
/* VIDEOS */

#videoContainer {
	margin-left: 385px;
	height:70%;
	@include box-sizing(border-box);
	position: relative;
}
	
#videoContainer.fullsize {
	height:100%;
}

#videos {
	padding:20px;
	height:100%;
	@include box-sizing(border-box);
	background: #eee;
}

#myInfo {
	position: absolute;
}

#chatBoxButton {
	position: absolute;
	top:10px;
	right:10px;
}


/**********************************************************/
/* CHAT BOX */

#chatBoxContainer {
	margin-left: 385px;
	height:30%;
	padding-top:25px;
	@include box-sizing(border-box);
	position: relative;
}

#chatBox {
	@include box-sizing(border-box);
	border:1px solid #ccc;
	height: 100%;
	font-family: $sans;
	padding-bottom:27px;
}

#chatMessages {
	height:100%;
	@include box-sizing(border-box);
	padding:10px 15px;
	overflow: auto;
	
	.chatMessage {
		margin: 5px 0px;
	}
	
	.chatMessageAuthor {
		font-weight: bold;
	}
}

#chatInputContainer {
	position: absolute;
	bottom:0px;
	left:0px;
	border:1px solid #ccc;
	width:100%;
	@include box-sizing(border-box);
	
	input {
		display: block;
		width:100%;
		padding:7px 10px;
		border:0px;
		margin:0px;
	}
	
	input:focus {
		outline:none;
		border:none;
	}
}