@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

/**********************************************************/
/* TYPOGRAPHY */

$sans: "proxima-nova", sans-serif;
$serif: "rooney-web", Georgia, serif;

/**********************************************************/
/* COLORS */

$textColor: #5c5850;
$orange: #ff5513;
$accentColor: #bedf62;
$subtleColor: #ededec;
$mediumColor: #d8d7d5;
$darkColor: #908d86;
$bgColor: #fff;

/**********************************************************/
/* TAG REDEFINITIONS */

html {
	height:100%;
}

body {
	margin:0px;
	padding:0px;
	font-family:$serif;
	font-weight: 300;
	font-size:13px;
	height:100%;
	color:$textColor;
	background:$bgColor url(/static/images/bodyBg.jpg);
}

a {
	text-decoration:none;
	color:$darkColor;
	font-weight: bold;
}

a:hover {
	color:$orange;
}


p {
	line-height:1.4em;
	margin:0px 0px 15px 0px;
}

/**********************************************************/
/* GLOBAL MIXINS */

@mixin smallHeading {
	font-size:13px;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-bottom: 10px;
	font-family: $sans;
}

@mixin button {
	display:inline-block;
	border:0px;
	background: #666;
	color:#fff;
	font-family: $serif;
	@include border-radius(20px);
	text-align: center;
	font-style:italic;
	padding:10px 18px;
	font-size:20px;
}

@mixin bigButton {
	@include button;
	font-size:26px;
	padding:14px 25px;
	margin:5px;
	
	.small {
		margin-top:7px;
		display:block;
		font-family:$sans;
		font-weight: normal;
		font-size:11px;
		text-transform: uppercase;
		letter-spacing:.1em;
		font-style: normal;
	}
}

@mixin labelType {
	@include smallHeading;
	font-size:12px;
	margin-bottom:5px;
}

@mixin smallFormalHeading {
	@include smallHeading;
	font-family: $serif;
	font-size: 16px;
	text-align: center;
	margin-bottom:15px;
}

@mixin bigFormalHeading {
	margin:15px;
	font-size:44px;
	font-style: italic;
	text-align: center;
}


/**********************************************************/
/* COMMON */

@mixin outerContainer {
	width: 88%;
	margin:0px auto;
	position: relative;
}

#homeIntro, #mainContainer, #featuredMeals, #mainFooter {
	@include outerContainer;
}

#mainContainer {
	padding:50px 0px;
	margin:0px auto;
}

#title {
	font-size:36px;
	margin-bottom:30px;
}

.intro {
	font-size:1.4em;
}

.message {
	text-align: center;
	margin:30px;
	font-family: $sans;
	color:red;
}

/**********************************************************/
/* HEADER */


#mainHeader {
	position: relative;

	h1 {
		background:url(/static/images/headerLeftEdge.png) right top no-repeat;
		width:180px;
		height:96px;
		position: absolute;
		top:0px;
		left:6%;
		z-index: +1;
		
		img {
			width:150px;
		}
	}
}

#headerNavs {
	background:url(/static/images/headerBg.png) repeat-x;
	height:96px;
	width: 90%;
	position: absolute;
	right:0;
}

#mainNav {
	position: absolute;
	top: 0;
	left:160px;
	height: 81px;
	z-index:+1;
	
	a {
		height:100%;
		@include box-sizing(border-box);
		padding:30px 22px 0px 22px;
		float:left;
		display: block;
		font-family: $sans;
		font-size:24px;
		
		.small {
			font-style: normal;
			font-family: $sans;
			font-size:12px;
			display: block;
			font-weight: normal;
		}
	}
	
	a.selected {
		@include box-shadow(rgba(0,0,0,.15) 0px -10px 8px);
		@include background(linear-gradient(rgba($bgColor, .0), rgba($bgColor, 1)));
		border:1px solid $mediumColor;
		border-top:none;
		border-bottom:1px solid $bgColor;
	}
}

#serviceNav {
	position: absolute;
	top: 30;
	right:0;
	padding:20px 0px;
	
	a {
		font-family:$sans;
		margin:0px 10px;
		display:inline-block;
	}
}

/**********************************************************/
/* FOOTER */

#mainFooter {
	text-align: center;
	clear:both;
	color:#666;
	padding:60px 0px 30px 0px;
	
	p {
		font-style: italic;
	}
}

#footerNav {
	margin:15px 0px;

	a {
		display:inline-block;
		padding:0px 10px;
		font-family: $sans;
	}
}

/**********************************************************/
/* FORMS */

	
.formItem {
	margin-bottom:15px;
	position: relative;
}

.formItemError {
	position: absolute;
	right:-193px;
	width:165px;
	background:lighten(yellow, 42%);
	font-family: $sans;
	top: 19px;
	padding:5px 10px;
}

.buttons {
	text-align: center;
}

label {
	display:block;
	@include labelType;
}

input, textarea {
	border:1px solid #aaa;
	padding:5px;
	margin:0px;
	width:100%;
	font-size:14px;
}

textarea {
	height:100px;
	resize: vertical;
}

form .note {
	margin-top:5px;
	font-style:italic;
	font-size:12px;
}

input[type=submit] {
	@include button;
	width:auto;
}


/**********************************************************/
/* CSS for different page types */

@import "home";
@import "room";
@import "recipe";
@import "invitations";
@import "history";
@import "account";