@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

/**********************************************************/
/* COLORS */

$textColor: #4e565c;
$orange: #ef5922;
$accentColor: #bedf62;
$subtleColor: #ededec;
$mediumColor: #d8d7d5;
$darkColor: #908d86;
$bgColor: #fff;

$lightBlue: #d1e0dd;
$green: #a5c349;
$darkBlue: #1c6770;
$mediumBlue: #3797a2;
$lightBrown: #e9e7e0;
$reallyLightBrown: #f0ece4;
$darkBrown: #736c5b;


/**********************************************************/
/* TYPOGRAPHY */

$sans: "proxima-nova", sans-serif;
$serif: "jubilat", Georgia, serif;

@mixin bigFatLetters {
	font-family:$sans;
	text-transform:uppercase;
	font-weight:900;
}

@mixin bodyType {
	font-family:$sans;
	font-weight: 300;
	font-size:13px;
	color:$textColor;
}

@mixin decorativeType {
	font-family:$serif;
	font-style:italic;
	text-transform: none;
	font-weight: 400;
	letter-spacing:0.05em;
}

@mixin sectionTitle {
	@include bigFatLetters;
	font-size:14px;
	margin-bottom:15px;
}

@mixin textLabel {
	@include bigFatLetters;
	font-size:12px;
	color: $mediumBlue;
}

@mixin bigHeading {
	font-family: $sans;
	font-size:35px;
	font-weight:700;
	color:$darkBlue;
	margin-bottom:10px;
}

@mixin smallHeading {
	font-size:13px;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-bottom: 10px;
	font-family: $sans;
}

#sectionTitle {
	@include bigFatLetters;
	margin-bottom:15px;
	text-align: center;
	color:$mediumBlue;
	font-size:60px;
	
	.color2 {
		color: darken($mediumBlue, 10);
	}
	
	.color3 {
		color: darken($mediumBlue, 5);
	}
	
	.small em {
		@include decorativeType;
		font-size:28px;
	}
}

#pageTitle {
	@include bigFatLetters;
	text-align: center;
	font-size:38px;
	color:$darkBlue;
	margin-bottom:10px;
}

#pageIntro {
	text-align: center;
	font-size:16px;
}

.kern {
	letter-spacing: -0.09em;
}

.intro, #intro {
	font-size:1.4em;
}

/**********************************************************/
/* GLOBAL MIXINS */

/* BUTTON-Y GOODNESS */

@mixin button {
	display:inline-block;
	border:0px;
	background: $green;
	color:#fff;
	@include bigFatLetters;
	@include border-radius(10px);
	text-align: center;
	padding:8px 16px;
	font-size:16px;
	@include box-shadow(0 4px 0 darken($green, 15));
	
	&:hover {
		background: darken($green, 4);
		@include box-shadow(0 4px 0 darken($green, 20));
		color:#fff;
	}
	
	&:active {
		@include box-shadow(0 2px 0 darken($green, 15));
		position: relative;
		top:2px;
	}
}

@mixin smallButton {
	color:#fff;
	display:inline-block;
	@include bigFatLetters;
	@include border-radius(6px);
	border:0px;
	background: $mediumBlue;
	font-size:12px;
	padding:7px 9px 5px 9px;
	@include box-shadow(0 4px 0 darken($mediumBlue, 15));
	
	&:hover {
		background: darken($mediumBlue, 4);
		@include box-shadow(0 4px 0 darken($mediumBlue, 20));
		color:#fff;
	}
	
	&:active {
		@include box-shadow(0 2px 0 darken($mediumBlue, 15));
		position: relative;
		top:2px;
	}
}

@mixin bigButton {
	@include button;
	font-size:26px;
	padding:9px 17px;
	margin:5px;
	@include border-radius(15px);
	@include box-shadow(0 7px 0 darken($green, 15));
	position: relative;
	top:0;
	
	&:hover {
		background: darken($green, 4);
		@include box-shadow(0 7px 0 darken($green, 20));
	}
	
	&:active {
		@include box-shadow(0 4px 0 darken($green, 20));
		position: relative;
		top:3px;
	}
	
	.small {
		margin:2px 0px;
		font-size:.6em;
		display: block;
	}
	
	em {
		@include decorativeType;
	}
}

@mixin closeButton {
	display: block;
	width:29px;
	height:29px;
	background:#d9d4ca url(/static/images/icon_x.png) no-repeat center center;
	text-indent:-999em;
	@include border-radius(20px);
	position: absolute;
	right:-10px;
	top:-10px;
	@include box-shadow(0 3px 5px rgba(0,0,0,.35));
	
	&:hover {
		background-color:darken(#d9d4ca, 10);
	}
}

/* BORDER STYLES */

@mixin lightBrownBorder {
	border:6px solid rgba($darkBrown,.15);
}

@mixin imageOuterBorder {
	border: 10px solid rgba($darkBrown, .1);
}

@mixin imageInnerBorder {
	border:3px solid #fff;
}

/* BACKGROUND COLORS */

@mixin lightBrownBg {
	background: #f8f6f0 url(/static/images/textureSoft.png);
}

@mixin lightBrownBgHover {
	background: darken(#f8f6f0, 2) url(/static/images/textureSoft.png);
}

@mixin lightGreenBg {
	background:rgba($green, .15);
}

@mixin lightOrangeBg {
	background:rgba($orange, .08);
}

@mixin lightBlueBg {
	background:rgba($mediumBlue, .10);
}

/* IMAGES */

@mixin userpic {
	display:inline-block;
	@include border-radius(100px);
	@include box-shadow(0px 3px 5px rgba(0,0,0,.15));
	border:3px solid #fff;
	background: $lightBrown;
	width: 48px;
	height:48px;
	
	img {
		width:100%;
		height:100%;
		@include border-radius(100px);
		background:#fff;
	}
}

@mixin smallUserpic {
	@include userpic;
	width:32px;
	height:32px;
}

@mixin largeUserpic {
	@include userpic;
	width:80px;
	height:80px;
	border-width:5px;
}

@mixin mealImage {
	overflow:hidden;
	border:5px solid #fff;
	width:200px;
	height:200px;
	
	img {
		height:100%;
	}
}

/* MISC */

@mixin alertNumber {
	display:inline-block;
	background:$orange;
	width: 16px;
	height:16px;
	@include border-radius(100px);
	@include box-sizing(border-box);
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size:10px;
	padding:3px 2px;
}

/* OLD STUFF!? */

@mixin labelType {
	@include smallHeading;
	font-size:12px;
	margin-bottom:5px;
}

@mixin smallFormalHeading {
	@include smallHeading;
	font-family: $serif;
	font-size: 16px;
	text-align: center;
	margin-bottom:15px;
}

@mixin bigFormalHeading {
	margin:15px;
	font-size:44px;
	font-style: italic;
	text-align: center;
}


/**********************************************************/
/* TAG REDEFINITIONS */

html {
	height:100%;
}

body {
	margin:0px;
	padding:0px;
	height:100%;
	@include bodyType;
	background:$bgColor url(/static/images/bodyBg.jpg);
}

a {
	text-decoration:none;
	color:$orange;
	font-weight: 600;
	
	&:hover {
		color:lighten($orange, 10);
	}
}

strong {
	font-weight:700;
}


p {
	line-height:1.4em;
	margin:0px 0px 15px 0px;
}


/**********************************************************/
/* COMMON STUFF */

@mixin outerContainer {
	width: 88%;
	margin:0px auto;
	position: relative;
}

#homeIntro, #mainContainer, #featuredMeals, #mainFooter {
	@include outerContainer;
}

#mainContainer {
	padding:40px 0px;
	margin:0px auto;
}

.button {
	@include button;
}

.smallButton {
	@include smallButton;
}

.bigButton {
	@include bigButton;
}

.divider {
	background: $lightBrown url(/static/images/textureStrong.png);
	height:5px;
	margin: 15px 0px;
}

.returnLink {
	margin-bottom:15px;

	a {
		font-size:14px;
		font-weight: 700;
		color:$textColor;
		
		&:hover {
			color:$orange;
		}
	}
}

.message {
	background: rgba($darkBrown, .7);
	color: #fff;
	font-weight: 700;
	width: 346px;
	margin: 0 auto;
	padding: 8px;
	@include border-radius(5px);
	text-align: center;
	
	a {
		color:#FFC240;
	}
}

/**********************************************************/
/* HEADER */


$headerHeight: 96px;

#mainHeader {
	position: relative;
	height: $headerHeight;

	h1 {
		background:url(/static/images/headerLeftEdge.png) right top no-repeat;
		width:180px;
		height:$headerHeight;
		position: absolute;
		top:0px;
		left:7%;
		z-index: +1;
		
		img {
			margin-top: 13px;
			width: 140px;
		}
	}
}

#headerNavsContainer {
	@include box-sizing(border-box);
	width:93%;
	position: absolute;
	right:0;
	padding-left: 179px;
}

#headerNavs {
	background:url(/static/images/headerBg.png) repeat-x;
	height:$headerHeight;
}

#mainNav {
	padding: 23px 0px 0px 30px;

	a {
		display:inline-block;
		margin-right:35px;
		@include bigFatLetters;
		font-size:27px;
		letter-spacing:.05em;
		@include opacity(.6);
		color:$darkBrown;
		line-height:20px;
		
		.small {
			display:block;
			font-size:.55em;
			font-weight: 900;
			
			em {
				font-family:$serif;
				font-style: italic;
				font-weight: 500;
				text-transform: lowercase;
				letter-spacing: normal;
				font-size: 1em;
			}
		}
	}
	
	a:hover {
		@include opacity(1);
	}
}

#serviceNavs {
	position: absolute;
	top:0;
	right: 6%;
	
	#loginLink, #registerLink {
		display: inline-block;
		font-weight: bold;
		color:$orange;
		text-align: right;
		margin:45px 0px 0px 30px;
		font-size:15px;
		
		&:hover {
			color:lighten($orange, 10);
		}
	}
}

#bigInviteButton {
	@include box-sizing(border-box);
	display:block;
	background:#a5c349 url(/static/images/green_circle.png);
	color:#fff;
	@include border-radius(100px);
	width:108px;
	height:108px;
	text-align: center;
	@include bigFatLetters;
	padding-top:27px;
	float:left;
	position: relative;
	top: 17px;
	letter-spacing: .05em;
	
	.big {
		font-size:20px;
		display: block;
	}
	
	em {
		font-family:$serif;
		font-style: italic;
		font-weight: 500;
		text-transform: lowercase;
	}
	
	.small {
		font-size:13px;
		display: block;
		position: relative;
		top:1px
	}
}

#userInfoContainer {
	float:left;
	height:10px;
	margin-right:20px;
	margin-top:26px;
	min-width: 155px;
}

#userInfo {
	padding: 6px 52px 5px 12px;
	color:$darkBrown;
	
	a {
		display:block;
	}
	
	.userpic {
		@include border-radius(80px);
		@include lightBrownBorder;
		height:62px;
		width:62px;
		position: absolute;
		right: 92px;
		top: 8px;
		z-index: +3;
		
		img {
			@include border-radius(80px);
			width:100%;
			height:100%;
			background:#fff;
		}
	}
	
	h2 {
		font-family: $serif;
		font-style: italic;
		font-size:12px;
	}
	
	.greeting {
		display: block;
		font-weight: normal;
	}
	
	.username {
		display: inline-block;
		font-weight: bold;
		font-family: $sans;
		font-size:14px;
		font-style:normal;
		line-height:20px;
		padding-right:13px;
		background:url(/static/images/icon_downArrow_brown.png) right center no-repeat;
	}
}

#userInfo.hover {
	color:#fff;
	background:$orange;
	
	.userpic {
		border-color: $orange;
	}
	
	.username {
		background:url(/static/images/icon_downArrow_white.png) right center no-repeat;
	}
}

#secondaryUserNav {
	@include box-sizing(border-box);
	display: none;
	background:$lightBlue;
	padding:8px 0px;
	position: relative;
	z-index: +2;
	
	a {
		display:block;
		font-weight: 700;
		text-align: left;
		padding:4px 12px;
		font-size:11px;
		text-transform: uppercase;
		color:$darkBrown;
	}
	
	a:hover {
		background:darken($lightBlue, 10);
		color:$darkBlue;
	}
}

#primaryUserNav {
	padding-top:31px;
	margin-right:10px;
	
	#invitationsLink {
		position: relative;
	
		.alertNumber {
			@include alertNumber;
			position: absolute;
			top:-2px;
			left:-8px;
		}
	}

	a {
		float:left;
		display:block;
		width:32px;
		height:32px;
		background-color:rgba($darkBrown,.15);
		background-repeat:no-repeat;
		background-position: center center;
		@include border-radius(100px);
		margin:0px 0px 0px 16px;
		position: relative;
		text-align: center;
		
		.tooltip {
			display: none;
			position: absolute;
			top:-20px;
			color:$darkBrown;
			font-size:13px;
			font-weight: 600;
			@include border-radius(20px);
			white-space: nowrap;
		}
	}
	
	a:hover {
		background-color:$darkBrown;
		
		.tooltip {
			display:block;
		}
	}
}

#invitationsLink { background-image:url(/static/images/icon_envelope.png); }
#historyLink { background-image:url(/static/images/icon_clock.png); }
#invitationsLink:hover { background-image:url(/static/images/icon_envelope_white.png); }
#historyLink:hover { background-image:url(/static/images/icon_clock_white.png); }

#primaryUserNav {
	float:left;
}


/**********************************************************/
/* FOOTER */

#mainFooter {
	text-align: center;
	clear:both;
	color:#666;
	padding:60px 0px 30px 0px;
	
	p {
		font-style: italic;
	}
}

#footerNav {
	margin:15px 0px;

	a {
		display:inline-block;
		padding:0px 10px;
		font-family: $sans;
	}
}

/**********************************************************/
/* FORMS */

	
.formItem {
	margin-bottom:15px;
	position: relative;
}

.formItemError {
	position: absolute;
	left: -179px;
	width: 165px;
	background: url(/static/images/formErrorBg.png) no-repeat;
	top: 4px;
	padding: 5px 10px;
	color: white;
	font-weight: 700;
}

.buttons {
	text-align: center;
}

label {
	display:block;
}

input, textarea {
	padding:5px;
	margin:0px;
	width:100%;
	font-size:14px;
	color:$textColor;
	border:0;
}

textarea {
	height:100px;
	resize: vertical;
	padding:10px;
}

form .note, .formNote {
	margin-top:8px;
	font-size:12px;
}

input[type=submit], button[type=submit] {
	@include button;
	width:auto;
	cursor: pointer;
}

input[disabled=disabled], button[disabled=disabled] {
	@include opacity(.5);
}


/**********************************************************/
/* CSS for different page types */

@import "home";
@import "room";
@import "meals";
@import "invitations";
@import "history";
@import "account";