{% extends "base/common.html" %}

{% block title %}Create a Cooking Room{% endblock %}

{% block customJS %}
<script src="/static/js/lib/date.js" type="text/javascript"></script>
<script src="/static/js/lib/jquery.datePicker.js" type="text/javascript"></script>
<script src="/static/js/invite.js" type="text/javascript"></script>
<script src="/static/js/validation.js" type="text/javascript"></script>
{% endblock %}

{% block bodyId %}createRoom{% endblock %}

{% block main %}

<h1 id="pageTitle">Create a Cooking Room</h1>

<p id="pageIntro">Once you have a friend to cook with and a date set, just fill in the details below to create a Cooking Room.</p>

<div id="createRoomFormContainer">

	<form id="createRoomForm" method="POST" action="/createRoomAction">
		
		<div id="who">
			<h2>1. Who will you be cooking with?</h2>
			
			<p class="note">It could be anybody&mdash;Mom, brother, best friend&mdash;but for now, just one person please.</p>
			
			<fieldset>
			
				<div class="formItem left">
					<label>Friend's Name:</label>
					<input type="text" name="inviteeName" id="friendNameInput" class="required" />
				</div>
				
				<div class="formItem right">
					<label>Friend's Email:</label>
					<input type="text" name="inviteeEmail" class="required emailInput" />
				</div>
			</fieldset>
		</div>
		
		<div id="what">
			<h2>2. What will you be cooking?</h2>
			
			<fieldset id="recipeInputContainer">
				<div id="chosenRecipe">
					<div id="mealImage"></div>
					<p id="mealTitle"></p>
					<p id="mealDescription"></p>
					<a href="" id="changeMealButton" class="button">Change Meal</a>
				</div>
				
				<div id="loadingImage">
					Loading meal into invitation <br />
					<img src="/static/images/loader.gif" />
				</div>
				
				<div id="selectMealButtonContainer">
					<a href="#" id="selectMealButton" class="button">Select a Meal</a>
				</div>
				
				<label class="hiddenFieldLabel">Meal</label>
				<input type="hidden" value="" name="meal" id="mealInput" class="required" />
			</fieldset>
		</div>
		
		<div id="when">
			<h2>3. When will you be cooking?</h2>
			<p class="note">Hotpot will send out reminders &amp; shopping lists right before you cook.</p>
			
			<fieldset>
				<div class="formItem">
					<div id="datePicker"></div>
					<input type="hidden" id="selectedDateInput" />
				</div>
				
				<div class="formItem">
					<label>Select a time:</label>
					<select id="timePickerHour">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option selected>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
					:
					<select id="timePickerMinute">
						<option>00</option>
						<option>15</option>
						<option>30</option>
						<option>45</option>
					</select>
					<select id="timePickerAMPM">
						<option>AM</option>
						<option selected>PM</option>
					</select>
				</div>
			</fieldset>
			
			<div id="selectedDate"></div>
			<div id="selectedTime"><span id="selectedHour">0</span>:<span id="selectedMinute"></span> <span id="selectedAMPM"></span> <span id="selectedTzname"></span></div>
			
			<input type="hidden" id="datetimeInput" name="datetime" value="0" />
			<input type="hidden" id="readableDate" name="readableDate" />
			<input type="hidden" id="readableTime" name="readableTime" />
			<input type="hidden" id="tzinfo" name="tzinfo" />
		
		</div>
		
		<p>Once you hit the button below, Hotpot will notify your friend that this Cooking Room has been created. Then all you have to do is meet there, and get cooking!</p>
		
		<div id="errorsPresentMessage">
			<p>Oops, looks like we're missing some crucial information above.</p>
		</div>
		
		<div class="buttons">	
			<button type="submit" id="sendInvitationButton">Let's Go Cook!</button>
		</div>
	</form>
	
</div><!-- #inviteFormContainer -->

<div id="overlayContainer">
	<div id="recipePickerContainer">
		<section id="recipePicker">
			
			<a href="" class="closeButton">Close</a>
		
			<h1>Select a meal to cook with your friend:</h1>
			
			<ul>
				{% for meal in meals %}
				<li>
					<div class="mealImage">
						<img src="/static/images/food/{{ meal.slug }}.jpg">
					</div>
					
					<a href="/meals/{{ meal.slug }}" class="button mealPickerButton" data-id="{{ meal.slug }}" title="{{ meal.title|safe }}" target="_blank">Choose</a>
					
					<div class="mealContent">
						<h2>{{ meal.title|safe }}</h2>
						<p>{{ meal.shortDescription|safe }} <a href="/meals/{{ meal.slug }}" target="_blank">More info</a></p>
					</div>
				</li>
				{% endfor %}
			</ul>
			
		</section>
	</div><!-- #recipePickerContainer -->
</div><!-- #overlayContainer -->


{% endblock main %}
