<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<title>HOTPOT - Get Ready to Cook!</title>

<!-- Typekit -->
<script type="text/javascript" src="http://use.typekit.com/qje5yme.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>

<!-- OpenTok JS -->
<script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){

	var openTokAPIKey = "6303111";
	
	// create and initialize a session object
	openTokSession = TB.initSession("{{ sessionId }}");
	
	// add event listeners... the handlers are in opentok.js
	openTokSession.addEventListener('sessionConnected', sessionConnectedHandler);
	
	// actually connect to that session using the API key and this user's token (generated in and sent over by socketstuff.py)
	openTokSession.connect(openTokAPIKey, "{{ token }}");
	
	function sessionConnectedHandler(event) {
		// start publishing my video
		publisher = openTokSession.publish('myVideo', { width: 370, height:240 });
	}
});

</script>

<link rel="stylesheet" href="/static/css/core.css" type="text/css" />

</head>
 
<body id="dressingRoom">

<div id="roomBg">

	<h1><img src="/static/images/HotpotLogo_Alpha.png"></h1>
	
	<div id="dressingRoomBox">
		<h2>Get ready to cook!</h2>
		
		<div id="testVideoContainer">
			<div id="myVideo"></div>
		</div>
		
		<p class="intro">Set up your webcam and check your hair. When all looks good, click the green button to start cooking.</p>
		
		<h3>Video Tips</h3>
		<ul>
			<li>For best video quality, upgrade to Flash 11. Right-click (PC) or control-click (Mac) on the box to the left to find out your version. You can <a href="http://get.adobe.com/flashplayer/" target="_blank">get Flash 11 here.</a></li>
			<li>If video isn't showing, click the settings icon and select the right camera. You can also adjust the volume.</li>
			<li>If all else fails, try refreshing the page.</li>
		</ul>
		<div class="buttons">
			<a href="/cook/{{ roomId }}" class="bigButton">Let's go!</a>
		</div>
		
	</div>

</div><!-- #roomBg -->
</body>
</html>