{% extends "base/common.html" %}

{% block title %}Edit My Profile{% endblock %}

{% block customJS %}
	<script src="static/js/validation.js" type="text/javascript"></script>
{% endblock %}

{% block bodyId %}profile{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}


{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div id="welcomeMessage">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}
{% endwith %}
	

<h1 id="pageTitle">Edit My Profile</h1>

<div id="accountInfoFormContainer">
<form id="accountInfoForm" method="POST" action="/saveProfile" enctype="multipart/form-data">

	<fieldset>
		<h2>Basic Info</h2>
		<div class="formItem">
			<label>First name</label>
			<input type="text" name="name" class="firstname" value="{{ user.name }}" class="required" />
			<label>Last name</label>
			</label><input type="text" class="lastname" placeholder="last name" name="lastname" value="{% if user.lastname %}{{ user.lastname }}{% endif %}" />
		</div>
		
		<div class="formItem">
			<label>Location</label>
			<input type="text" name="location" value="{% if user.location %}{{ user.location }}{% endif %}" placeholder="location" />
			<p class="note">e.g. "New York City" or "Beijing, China"</p>
		</div>
		
		<h2>Upload a Photo</h2>
		
		<p>Add a photo so people can see your gorgeous face (square-cropped images work best):</p>
		
		<div class="userpic">
			{% if user.userpic %}
				<img src="static/uploads/userpics/{{ user.userpic }}" width="80" />
			{% else %}
				<img src="static/uploads/userpics/placeholder.png" width="80" />
			{% endif %}
		</div>
		
		<div class="formItem" id="userpicUpload">
			<label>Picture</label>
			<input type="file" name="userpic" />
		</div>
	</fieldset>
	
	<input type="submit" value="Save Changes" />
	
</form>
</div><!-- #accountInfoFormContainer -->

{% endblock main %}