{% extends "base/common.html" %}

{% block title %}Home{% endblock %}
{% block bodyId %}home{% endblock %}

{% block main %}


{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="systemMessage">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<div id="homeIntro">

	<p id="introBlurb">Cook a great meal with friends in real-time. <!--span class="small">Explore different cuisines, make new friends (or hang out with old ones), and unlock your culinary skills!</span--></p>
	
	<div id="joinUs">
		<a href="" id="registerButton">Let's Cook! <span class="small">Create an Account</span></a>
		<a href="" id="loginButton">Got Account? <span class="small">Log In Here</span></a>
	</div><!-- #joinUs -->
	
</div><!-- #homeIntro -->

<div id="featuredMealsContainer">
	<section id="featuredMeals">
		<h1>What's Cooking?</h1>
		<ul class="mealList">
			<li>
				<a href="http://test.letsgohotpot.com/meals/LemonGarlicKalePasta">
					<h2>Lemon Garlic Kale Pasta</h2>
					<img src="/static/images/food/LemonGarlicKalePasta.jpg">
				</a>
				<h3>Recently Cooked By:</h3>
				<ul>
					<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
					<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
				</ul>
			</li>
			
			<li>
				<h2>Lemon Garlic Kale Pasta</h2>
				<img src="/static/images/food/SalmonTeriyaki.jpg">
				<h3>Recently Cooked By:</h3>
				<ul>
					<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
					<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
				</ul>
			</li>
			
			<li class="last">
				<h2>Apple Cheddar Quiche</h2>
				<img src="/static/images/food/SalmonTeriyaki.jpg">
				<h3>Recently Cooked By:</h3>
				<ul>
					<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
					<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
				</ul>
			</li>
		</ul>
	</section><!-- #featuredMeals -->
</div><!-- #featuredMealsContainer -->

{% endblock main %}