<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>HotPot prototype! yeah!!</title>

<!-- Typekit JS -->
<script type="text/javascript" src="http://use.typekit.com/qje5yme.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- jQuery library -->
<script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>

<!-- my scripts -->


<link rel="stylesheet" href="/static/css/core.css" type="text/css" />

</head>
 
<body id="home">

<header id="mainHeader">
	<h1>Hotpot</h1>
	<nav id="topNav">
		<a href="">Login</a>
		<a href="">FAQ</a>
		<a href="">Feedback</a>
	</nav>
</header>

<div id="homeIntro">

	<p>Hotpot brings people together to cook in real time. Explore different cuisines, make new friends (or hang out with old ones), and unlock your culinary skills!</p>
	
	<div id="joinUs">
		<a href="" id="registerButton">Let's Cook! <span class="small">Create an Account</span></a>
		<a href="" id="loginButton">Already joined? Log in</a>
	</div><!-- #joinUs -->
	
</div><!-- #homeIntro -->

<section id="featuredRecipes">
	<h1>What's Cooking?</h1>
	<ul>
		<li>
			<h2>Salmon Teriyaki</h2>
			<img src="/static/recipe_images/SalmonTeriyaki.jpg">
			<h3>Recently Cooked By:</h3>
			<ul>
				<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
				<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
			</ul>
		</li>
		
		<li>
			<h2>Lemon Garlic Kale Pasta</h2>
			<img src="/static/recipe_images/SalmonTeriyaki.jpg">
			<h3>Recently Cooked By:</h3>
			<ul>
				<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
				<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
			</ul>
		</li>
		
		<li>
			<h2>Apple Cheddar Quiche</h2>
			<img src="/static/recipe_images/SalmonTeriyaki.jpg">
			<h3>Recently Cooked By:</h3>
			<ul>
				<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
				<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
			</ul>
		</li>
	</ul>
</section><!-- #featuredRecipes -->

<footer id="mainFooter">
	<p>Hotpot is created by Tina Ye for her Master's Thesis in Interaction Design at SVA. Read more about the project <a href="http://thesis.tinabeans.com/">here</a>.</p>
</footer>

</body>
</html>