{% extends "base/common.html" %}

{% block title %} - Let's Cook!{% endblock %}

{% block customJS %}{% endblock %}

{% block bodyId %}welcome{% endblock %}

{% block main %}

<section id="homeIntro">
	
	<hgroup>
		<h1><img src="/static/images/HotpotLogo_Alpha.png" width="280" /></h1>
		<h2><span class="color2">L</span>e<span class="color2">t</span>'<span class="color2">s</span> C<span class="color3">o</span><span class="color2">o</span><span class="color3">k</span><span class="color2">!</span></h2>
	</hgroup>
	
	<p>Cook together with anyone, anywhere. Swap stories, share technique, and even eat together—all in real time.</p>
	
	<div class="actionButtons">
		<a id="joinHotpotButton" class="bigButton">Join Hotpot</a>
		<a id="loginButton" class="smallButton">Log In</a>
	</div>
	
	<div id="welcomePhotos">
		<img src="/static/images/welcomePhoto1.png" />
	</div>
	
</section>

{% endblock main %}