{% extends "base/common.html" %}

{% block title %}Invitation{% endblock %}

{% block customJS %}{% endblock %}

{% block bodyId %}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}

{% if invitation.from == user.email %}
	<h2>You have invited {{ invitation.friendName }} to cook:</h2>
{% else %}
	<h2>{{ invitation.fromName }} has invited you to cook:</h2>
{% endif %}

<div id="invitationInfoContainer">
	<div id="invitationInfo">
		<img id="recipeImage" src="/static/images/food/{{ invitation.recipe }}.jpg" width="300" />
		<h1>{{ invitation.recipe }}</h1>
		
		<dl id="details">
			<dt>Date</dt>
			<dd id="selectedDate">{{ invitation.readableDate|safe }}</dd>
			
			<dt>Time</dt>
			<dd id="selectedTime">{{ invitation.readableTime|safe }}</dd>
		</dl>
	</div>
</div>

{% if invitation.reply %}

	{% if invitation.from == user.email %}
		<h2>{{ invitation.friendName }} replied:</h2>
	{% else %}
		<h2>You replied:</h2>
	{% endif %}
	
	{% if invitation.reply.mainReply == "yes" %}
		<p>Yes! the cooking party is on!</p>
		
	{% elif invitation.reply.mainReply == 'maybe' %}
		<p>Yes, but...</p>
	
		{% if invitation.reply.altTimes != "" %}
			<p>the time doesn't work; suggested alternate times: {{ invitation.reply.altTimes }}</p>
		{% endif %}
			
		{% if invitation.reply.altMeals != "" %}
			<p>the selected meal doesn't work; other food ideas: {{ invitation.reply.altMeals }}</p>
		{% endif %}
	
	{% elif invitation.reply.mainReply == "no" %}
		<p>no. awww.</p>
	{% endif %}	
		
	{% if invitation.reply.message != "" %}
		<p>Message: {{ invitation.reply.message }}</p>
	{% endif %}

{% endif %}

{% endblock main %}