{% extends "base/common.html" %}

{% block title %}Invite a Friend{% endblock %}

{% block customJS %}
<script src="/static/js/lib/date.js" type="text/javascript"></script>
<script src="/static/js/lib/jquery.datePicker.js" type="text/javascript"></script>
<script src="/static/js/invite.js" type="text/javascript"></script>
<script src="/static/js/validation.js" type="text/javascript"></script>
{% endblock %}

{% block bodyId %}invite{% endblock %}

{% block main %}

<h1 id="pageTitle">Invite a Friend to Cook</h1>

<p id="pageIntro">Fill in the blanks to the right to craft a personalized Hotpot invitation for your friend.</p>


<!-- YUP I just pasted the HTML email tables in here. Sorry, gods of HTML, plaese don't smite me. -->

<div id="invitationPreviewContainer">
	<div id="invitationPreview">

		<table cellpadding="0" cellspacing="0" width="620" bgcolor="#ffffff" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_Main.png);">
		
			<!-- INVITE HEADER -->
		
			<tr>
				<td colspan="3">
					<img style="display:block;" src="http://test.letsgohotpot.com/static/images/email/invitationHeader.png" width="620" height="225" alt="Let's Cook!">
				</td>
			</tr>
			
			<!-- PERSONAL MESSAGE -->
			
			<tr>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_messageAreaLeft.png)"></td>
				<td width="520" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_messageArea.png); font-family:'Courier New', monospace; font-size:20px; line-height:1.4em;">
					<p id="greeting">Hi <span id="friendName">friend</span>,</p>
					<div id="messageBody">
						A personal message goes here!
					</div>
					<p style="text-align:right">Cheers,<br>{{ user.name }}</p>
				</td>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_messageAreaRight.png)"></td>
			</tr>
			
			<!-- "GET READY TO COOK..." -->
			
			<tr>
				<td colspan="3"><img style="display:block;" src="http://test.letsgohotpot.com/static/images/email/text_getReady.png" width="620" height="133" alt="Get ready to make..."></td>
			</tr>
			
			<!-- TITLE and DESCRIPTION -->
			
			<tr>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainLeft.png)"></td>
				<td width="520" style="background:url(http://test.letsgohotpot.com/static/email/bg_Main.png)">
					<h1 id="previewMealTitle" style="text-align:center; color:#1c6770; font-size:35px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ meal.title }}</h1>
					<p style="text-align:center; line-height:1.5em; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; font-size:14px;" id="previewMealDescription">{{ meal.shortDescription }} <a href="/meals/{{ meal.slug }}" style="color:#f07239; text-decoration:none;">More about this meal »</a></p>
					
				</td>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainRight.png)"></td>
			</tr>
			
			<!-- IMAGE -->
			
			<tr>
				<td colspan="3"><img style="display:block;" src="http://test.letsgohotpot.com/static/images/email/foodpics/{{ meal.slug }}.png" width="620" height="277" alt="{{ meal.title }}" id="previewMealImage"></td>
			</tr>
			
			<!-- DATE, TIME, PLACE -->
			
			<tr>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainLeft.png)"></td>
				<td width="520" style="background:url(http://test.letsgohotpot.com/static/email/bg_Main.png)">
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tr>
							<td valign="top" width="37%" style="text-align:center; font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c;">
								<img width="42" height="12" src="http://test.letsgohotpot.com/static/images/email/text_date.png" alt="Date">
								<p id="selectedDate">[DATE FROM DATEPICKER]</p>
							</td>
							<td width="5%"></td>
							<td valign="top" width="16%" align="center" style="vertical-align:top; text-align:center; font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c;">
								<img src="http://test.letsgohotpot.com/static/images/email/text_time.png" width="41" height="12" alt="Time">
								<p id="selectedTime"><span id="selectedHour">0</span>:<span id="selectedMinute"></span> <span id="selectedAMPM"></span></p>
							</td>
							<td width="5%"></td>
							<td valign="top" width="37%" align="center" style="text-align:center; font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c;">
								<img src="http://test.letsgohotpot.com/static/images/email/text_place.png" width="52" height="13" alt="Place">
								<p>Our kitchens,<br>via Hotpot</p>
							</td>
						</tr>
					</table>
				</td>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainRight.png)"></td>
			</tr>
			
			<!-- a small gap -->
			
			<tr>
				<td width="50" height="36" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainLeft.png)"></td>
				<td width="520" style="background:url(http://test.letsgohotpot.com/static/email/bg_Main.png)">
				</td>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainRight.png)"></td>
			</tr>
			
			<!-- ADDITIONAL INFO -->
			
			<tr>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainLeft.png)"></td>
				<td width="520" style="background:url(http://test.letsgohotpot.com/static/email/bg_Main.png)">
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tr>
							<td width="275" valign="top" style="vertical-align:top">
							
								<!-- SHOPPING LIST -->
								
								<table cellpadding="0" cellspacing="0" border="0" width="100%" id="previewShoppingList">
									
									<tr id="previewShoppingListStart">
										<td colspan="4"><img style="display:block;" src="http://test.letsgohotpot.com/static/images/email/text_shoppingList.png" alt="Shopping List" height="75" width="275"></td>
									</tr>
									
									{% for ingredient in meal.ingredients %}
									<tr class="previewIngredientItem">
										<td width="20" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_ShoppingListLeft.png)"></td>
										<td height="35" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; font-size:16px; {{ loop.cycle('background:url(http://test.letsgohotpot.com/static/images/email/bg_ShoppingListBlueStripe.png);', '') }}">&nbsp; &nbsp;{{ ingredient.name }}</td>
										<td align="right" style="text-align:right; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; color:#4e565c; font-size:12px; {{ loop.cycle('background:url(http://test.letsgohotpot.com/static/images/email/bg_ShoppingListBlueStripe.png);', '') }}">{% if ingredient.amount is defined %}{{ ingredient.amount }}{% endif %}&nbsp; &nbsp;</td>
										<td width="20" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_ShoppingListRight.png)"></td>
									</tr>
									{% endfor %}
									
									<tr id="previewShoppingListEnd">
										<td colspan="4"><img style="display:block;" src="http://test.letsgohotpot.com/static/images/email/shoppingListBottom.png" height="21" width="275"></td>
									</tr>
								</table>
							</td>
							<td width="30" align="center"></td>
							<td width="217" valign="top" style="vertical-align:top">
							
								<!-- HOW THIS WORKS -->
								
								<img style="display:block;" src="{{ BASE_URL }}/static/images/email/text_whatIsHotpot.png" width="180" height="40" alt="What is Hotpot?">
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">Hotpot is a website that lets you cook together with anyone, anywhere in the world!</p>
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">If you accept this invitation, you'll get a special link to a Cooking Room, where we can meet and make the above meal together.</p>
								
								
								<img style="display:block;" src="{{ BASE_URL }}/static/images/email/text_whatDoINeed.png" width="180" height="13" alt="What do you need?">
								
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">To get the most out of Hotpot, you'll need:</p>
								
								<ul style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">
									<li>a stable internet connection</li>
									<li>a webcam (highly recommended)</li>
									<li>the latest version of your favorite browser</li>
									<li>Flash 11</li>
								</ul>
		
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">To learn more about Hotpot, check out the site: <a href="http://letsgohotpot.com" style="color:#f07239; text-decoration:none;">LetsGoHotpot.com</a></p>
							</td>
						</tr>
					</table>
				</td>
				<td width="50" style="background:url(http://test.letsgohotpot.com/static/images/email/bg_MainRight.png)"></td>
			</tr>
			
			<!-- FOOTER -->
			
			<tr>
				<td colspan="3">
					<img style="display:block;" src="http://test.letsgohotpot.com/static/images/email/footer.png" width="620" height="115" alt="Brought to you by Hotpot">
				</td>
			</tr>
		</table>
		
	</div><!-- #invitePreview -->
</div><!-- #invitePreviewContainer -->






<div id="inviteFormContainer">

	<form id="inviteForm" method="POST" action="/sendInvitation">

		<h2>1. Friend Details</h2>
		
		<fieldset>
		
			<div class="formItem">
				<label>Friend's Name:</label>
				<input type="text" name="inviteeName" id="friendNameInput" class="required" />
			</div>
			
			<div class="formItem">
				<label>Friend's Email Address:</label>
				<input type="text" name="inviteeEmail" class="required emailInput" />
			</div>
			
			<p class="formNote">Just one friend, please. We're working on cooking with multiple friends soon!</p>
		</fieldset>
		
		<h2>2. Personal Message</h2>
		
		<fieldset>
			<div class="formItem">
				<label>Get your friend excited to cook!</label>
				<textarea id="messageBodyInput"></textarea>
				<input type="hidden" id="messageBodyInputHTML" name="message">
			</div>
		</fieldset>
		
		<h2>3. What to Cook</h2>
		
		<fieldset>
			<div id="chosenRecipe">
				<label>Selected meal:</label>
				<p id="mealTitleDisplay">{{ meal.title }}</p>
				
				<a href="#" id="selectMealButton" class="button">Select Meal</a>
				
				<div id="loadingImage">
					Loading meal into invitation <br />
					<img src="/static/images/loader.gif" />
				</div>
				
				<input type="hidden" value="{{ meal.slug }}" name="meal" id="mealInput" />
			</div>
		</fieldset>
		
		<h2>4. Date &amp; Time</h2>
		
		<fieldset>
			<div class="formItem">
				<label>Select a date:</label>
				<div id="datePicker"></div>
				<input type="hidden" id="selectedDateInput" />
			</div>
			
			<div class="formItem">
				<label>Select a time:</label>
				<select id="timePickerHour">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option selected>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
				</select>
				:
				<select id="timePickerMinute">
					<option>00</option>
					<option>15</option>
					<option>30</option>
					<option>45</option>
				</select>
				<select id="timePickerAMPM">
					<option>AM</option>
					<option selected>PM</option>
				</select>
			</div>
		</fieldset>
		
		<input type="hidden" id="datetimeInput" name="datetime" value="0" />
		<input type="hidden" id="readableDate" name="readableDate" />
		<input type="hidden" id="readableTime" name="readableTime" />
		
		<p>Check the preview on the left and make sure everything looks good! Upon hitting send, we'll email your friend the invitation and he/she will be able to R.S.V.P.</p>
		
		<div id="errorsPresentMessage">
			<p>Oops, looks like we're missing some crucial information above.</p>
		</div>
		
		<div class="buttons">	
			<button type="submit" id="sendInvitationButton">Send Invitation</button>
		</div>
	</form>
	
</div><!-- #inviteFormContainer -->

<div id="overlayContainer">
	<div id="recipePickerContainer">
		<section id="recipePicker">
			
			<a href="" class="closeButton">Close</a>
		
			<h1>Select a meal to cook with your friend:</h1>
			
			<ul>
				{% for meal in meals %}
				<li>
					<div class="mealImage">
						<img src="/static/images/food/{{ meal.slug }}.jpg">
					</div>
					
					<a href="/meals/{{ meal.slug }}" class="button mealPickerButton" data-id="{{ meal.slug }}" title="{{ meal.title }}" target="_blank">Choose</a>
					
					<div class="mealContent">
						<h2>{{ meal.title }}</h2>
						<p>{{ meal.shortDescription|safe }} <a href="/meals/{{ meal.slug }}" target="_blank">More info</a></p>
					</div>
				</li>
				{% endfor %}
			</ul>
			
		</section>
	</div><!-- #recipePickerContainer -->
</div><!-- #overlayContainer -->


{% endblock main %}