{% extends "base/common.html" %}

{% block title %}Home{% endblock %}

{% block customJS %}{% endblock %}

{% block bodyId %}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}

<h1 id="pageTitle">Invitations</h1>

<nav class="filterTags">
	Filter by Status:
	<a href="" class="selected">View All</a>
	<a href="">Awaiting Reply</a>
	<a href="">It's on!</a>	
	<a href="">Change needed</a>
	<a href="">Declined</a>
</nav>

<h2>Sent</h2>

<table class="invitationsTable">
	<thead>
		<tr>
			<th>With</th>
			<th>Cooking</th>
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for invitation in invitations %}
		<tr>
			<td>
				{% for invitee in invitation.inviteesInfo %}
					{% if invitee.userpic %}
						<img src="/static/uploads/userpics/{{ invitee.userpic }}" width="50" height="50" title="{{ invitee.name }}" />
					{% else %}
						{{ invitee.name }}
					{% endif %}
				{% endfor %}
			</td>
			<td>{{ invitation.meal }}</td>
			<td>{{ invitation.readableDate }}</td>
			<td>{{ invitation.readableTime|safe }}</td>
			<td>
			{% if invitation.replies %}
				{% for reply in invitation.replies %}
					{% if reply.mainReply == "yes" %}
						It's on!
					{% elif reply.mainReply == "maybe" %}
						Change needed
					{% elif reply.mainReply == "no" %}
						Declined
					{% endif %}
				{% endfor %}
			{% else %}
				Awaiting reply
			{% endif %}
			</td>
			<td><a href="/invitations/{{ invitation._id }}">view</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<h2>Received</h2>

<table class="invitationsTable">
	<thead>
		<tr>
			<th>With</th>
			<th>Cooking</th>
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for invitation in invitations %}
		<tr>
			<td>
				{% for invitee in invitation.inviteesInfo %}
					{% if invitee.userpic %}
						<img src="/static/uploads/userpics/{{ invitee.userpic }}" width="50" height="50" title="{{ invitee.name }}" />
					{% else %}
						{{ invitee.name }}
					{% endif %}
				{% endfor %}
			</td>
			<td>{{ invitation.meal }}</td>
			<td>{{ invitation.readableDate }}</td>
			<td>{{ invitation.readableTime|safe }}</td>
			<td>
			{% if invitation.replies %}
				{% for reply in invitation.replies %}
					{% if reply.mainReply == "yes" %}
						It's on!
					{% elif reply.mainReply == "maybe" %}
						Change needed
					{% elif reply.mainReply == "no" %}
						Declined
					{% endif %}
				{% endfor %}
			{% else %}
				Awaiting reply
			{% endif %}
			</td>
			<td><a href="/invitations/{{ invitation._id }}">view</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock main %}