{% extends "base/common.html" %}

{% block title %}Invite a Friend{% endblock %}

{% block customJS %}
<script src="/static/js/lib/date.js" type="text/javascript"></script>
<script src="/static/js/lib/jquery.datePicker.js" type="text/javascript"></script>
<script src="/static/js/invite.js" type="text/javascript"></script>
<script src="/static/js/validation.js" type="text/javascript"></script>
{% endblock %}

{% block bodyId %}invite{% endblock %}

{% block main %}

<h1 id="pageTitle">Invite a Friend to Cook</h1>
<p id="pageIntro">Tell your friends about Hotpot and get cooking!</p>

<aside id="otherInviteOptions">
	<p>You can also share with your friends on Facebook and Twitter:</p>
	
	<div id="twitterInvite">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://letsgohotpot.com" data-text="Hotpot is here! Who wants to cook with me? More info at" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	
	<div id="facebookInvite">
		<div class="fb-like" data-href="http://letsgohotpot.com" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true"></div>
	</div>
</aside>

<div id="emailContainer">
	<h2><img src="/static/images/icon_bigEnvelope.png" /> Email a friend</h2>
	
	<form id="emailInvite">
	
		{% if not isLoggedIn %}
			<div class="formItem">
				<label>Your Name:</label>
				<input type="text" name="inviteeName" id="friendNameInput" class="required" />
			</div>
			
			<div class="formItem">
				<label>Your Email Address:</label>
				<input type="text" name="inviteeEmail" class="required emailInput" />
			</div>
		{% endif %}
	
		<div class="formItem left">
			<label>Friend's Name:</label>
			<input type="text" name="inviteeName" id="friendNameInput" class="required" />
		</div>
		
		<div class="formItem right">
			<label>Friend's Email Address:</label>
			<input type="text" name="inviteeEmail" class="required emailInput" />
		</div>
		
		<div id="messageBody">
			
			<label>Personal message:</label>
			<div id="messageBodyInputContainer">
				<textarea id="messageBodyInput">Let's cook on Hotpot! Let me know what times and dates work for you, and I can set us up with a Cooking Room. Can't wait!</textarea>
				<input type="hidden" id="messageBodyInputHTML" name="message">
			</div>
			
			<label>Suggest a meal to cook (optional):</label>
			<div id="recipeInputContainer">
				<div id="chosenRecipe">
					<div id="mealImage"></div>
					<p id="mealTitle"></p>
					<p id="mealDescription"></p>
					<a href="" id="removeMealButton">Remove Meal</a>
				</div>
				
				<div id="loadingImage">
					Loading meal into invitation <br />
					<img src="/static/images/loader.gif" />
				</div>
				
				<a href="#" id="selectMealButton" class="button">Select a Meal</a>
				
				<input type="hidden" value="" name="meal" id="mealInput" />
			</div>
		
		
			<div id="aboutHotpot">
				<h2>What's <img src="/static/images/HotpotLogo_Alpha.png" width="80" /> ?</h2>
				<p>Hotpot lets us cook together online in real time. Check out Hotpot at <a href="http://test.letsgohotpot.com">LetsGoHotpot.com</a>, then reply to this email to let me know if you'd like to cook.</p>
			</div>
			
		</div>
		
	</form>
</div>

<div id="overlayContainer">
	<div id="recipePickerContainer">
		<section id="recipePicker">
			
			<a href="" class="closeButton">Close</a>
		
			<h1>Select a meal to cook with your friend:</h1>
			
			<ul>
				{% for meal in meals %}
				<li>
					<div class="mealImage">
						<img src="/static/images/food/{{ meal.slug }}.jpg">
					</div>
					
					<a href="/meals/{{ meal.slug }}" class="button mealPickerButton" data-id="{{ meal.slug }}" title="{{ meal.title|safe }}" target="_blank">Choose</a>
					
					<div class="mealContent">
						<h2>{{ meal.title|safe }}</h2>
						<p>{{ meal.shortDescription|safe }} <a href="/meals/{{ meal.slug }}" target="_blank">More info</a></p>
					</div>
				</li>
				{% endfor %}
			</ul>
			
		</section>
	</div><!-- #recipePickerContainer -->
</div><!-- #overlayContainer -->


{% endblock main %}

{% block moreCustomJS %}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{% endblock moreCustomJS %}