{% extends "base/common.html" %}

{% block title %}Home{% endblock %}

{% block customJS %}
<script src="/static/js/invitations.js" type="text/javascript"></script>
{% endblock %}

{% block bodyId %}invitations{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}

<h1 id="pageTitle">Invitations Sent</h1>
<!--p id="pageIntro">View invitations sent by you</p-->

<aside id="invitationsSidebar">

	<nav id="invitationTypeNav">
		<a id="sentLink" class="selected" href="">
			{{ invitationsSent|length() }} Sent
		</a>
		<a id="receivedLink" href="">
			{{ invitationsReceived|length() }} Received
			{% if alertNumber != 0 %}<span class="alertText">{{ alertNumber }} New</span>{% endif %}
		</a>
	</nav>
	
	<div class="divider"></div>
	
	<div id="upcoming">
		<p>Ooooo, you have <strong>x</strong> confirmed Hotpots coming up</p>
		
		<a href="/invitations/upcoming" class="button">View Upcoming</a>
	</div>

</aside>

<div id="invitationContainer">

	<!-- 
	<nav id="invitationFilters">
		Filter by Status:
		<a href="" class="selected">View All</a>
		<a href="">Awaiting Reply</a>
		<a href="">It's on!</a>	
		<a href="">Change needed</a>
		<a href="">Declined</a>
	</nav> -->
	
	<div id="sent" class="invitationsList">
	{% if invitationsSent|length() == 0 %}
		<p class="intro">No invitations. We recommend sending some as soon as possible! :)</p>
	{% endif %}
	
	{% for invitation in invitationsSent %}
		<div class="invitation">
			
			<div class="statusBar {{ invitation.status }}">
				{% if invitation.status == "new" %}
					Awaiting Reply
				{% elif invitation.status == "changeNeeded" %}
					Change Needed
				{% elif invitation.status == "declined" %}
					Declined
				{% elif invitation.status == "accepted" %}
					Hooray! It's happening!
				{% else %}
					unknown status
				{% endif %}
				
				<span class="sendDate">Sent {{ invitation.sendDate }}</span>
			</div>
			
			<div class="mealImage">
				<img src="/static/images/food/{{ invitation.meal.slug }}.jpg" />
			</div>
			
			<div class="partnerUserpic">
				{% for invitee in invitation.inviteesInfo %}
					<img src="/static/uploads/userpics/{{ invitee.userpic }}" />
				{% endfor %}
			</div>
			
			<div class="invitationInfo">
				<h2>{{ invitation.meal.title }}</h2>
				<div class="with">
					<span class="label">With</span>
					{% for invitee in invitation.inviteesInfo %}
						{{ invitee.name }}
					{% endfor %}
				</div>
				<div class="datetime">
					<span class="label date">Date</span>
					{{ invitation.datetime|jsDatetimeLocaleFormat("%A, %B %d")|safe }}
					
					<span class="label time">Time</span>
					{{ invitation.datetime|jsDatetimeLocaleFormat("%l:%M %p")|safe }}
				</div>
				
				<a href="/invitations/{{ invitation._id }}" class="smallButton">View Invitation</a>
			</div>
			
		</div>
	{% endfor %}
	</div><!-- #sent -->
	
	<div id="received" style="display:none;" class="invitationsList">
	{% if alertNumber != 0 %}
		<p class="intro">You have <span class="alertNumber">{{ alertNumber }}</span> invitation{% if alertNumber > 1 %}s{% endif %} below awaiting your reply.</p>
	{% endif %}
	
	
	{% if invitationsReceived|length() == 0 %}
		<p class="intro">No invitations received... yet!</p>
	{% endif %}
	
	{% for invitation in invitationsReceived %}
		<div class="invitation">
		
			<div class="statusBar {{ invitation.status }}">
				{% if invitation.status == "new" %}
					Awaiting Your Reply
				{% elif invitation.status == "changeNeeded" %}
					Change Needed
				{% elif invitation.status == "declined" %}
					Declined
				{% elif invitation.status == "accepted" %}
					Hooray! It's happening!
				{% else %}
					unknown status
				{% endif %}
				
				<span class="sendDate">Sent {{ invitation.sendDate }}</span>
			</div>
			
			<div class="mealImage">
				<img src="/static/images/food/{{ invitation.meal.slug }}.jpg" />
			</div>
			
			<div class="partnerUserpic">
				<img src="/static/uploads/userpics/{{ invitation.host.userpic }}" />
			</div>
			
			<div class="invitationInfo">
				<h2>{{ invitation.meal.title }}</h2>
				<div class="with">
					<span class="label">With</span>
					{{ invitation.host.name }}
				</div>
				<div class="datetime">
					<span class="label date">Date</span>
					{{ invitation.readableDate }}
					
					<span class="label time">Time</span>
					{{ invitation.readableTime|safe }}
				</div>
				
				<a href="/invitations/{{ invitation._id }}" class="smallButton">View Invitation</a>
			</div>
			
		</div>
	{% endfor %}
	</div><!-- #received -->

</div><!-- #invitationsContainer -->
{% endblock main %}
