<html>

<body bgcolor="#eeeeee">

<table cellpadding="0" cellspacing="0" border="0" width="660" bgcolor="#ffffff">
	<tr>
		<td width="30"></td> <!-- left padding -->
		<td>
			
			<table cellpadding="0" cellspacing="0" border="0">
				<tr><td height="50"></td></tr> <!-- vertical spacing -->
				<tr>
					<td align="center"><img src="http://test.letsgohotpot.com/static/images/email/email_letsCook.png" alt="Let's Cook!" /></td>
				</tr>
				<tr><td height="50"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td style="font-family:Georgia, Times, serif; font-size:20px;">
						<p id="greeting">Hi <span id="friendName">[friend name]</span>,</p>
						<div class="messageBody">
							<p>Let's cook together on Hotpot! </p>
						</div>
						<p style="text-align:right">- [username]</p>
					</td>
				</tr>
				<tr><td height="50"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td align="center">
						<img src="http://test.letsgohotpot.com/static/images/email/email_details.png" alt="The Tasty Details" />
					</td>
				</tr>
				<tr><td height="15"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%" height="200" style="background-image:url(/static/images/food/{{ recipe.slug }}_email.jpg);">
							<tr>
								<td height="30"></td>
							</tr>
							<tr>
								<td valign="top">
									<table cellpadding:="10" cellspacing="0" border="0" height="40">
											<td width="15" height="40" style="background-image:url(/static/images/email/bg_black_50.png);"></td></td>
											<td style="background-image:url(/static/images/email/bg_black_50.png); color:#ffffff; font-size:22px; line-height:1.5em;">We'll Be Making: {{ recipe.title }}</td>
											<td width="15" height="40" style="background-image:url(/static/images/email/bg_black_50.png);"></td></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="30"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td bgcolor="#eeeeee" width="260">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="15"></td>
											<td>
												<table cellpadding="0" cellspacing="0" border="0" width="230" style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#333;">
													<tr><td height="15"></td></tr>
													<tr>
														<td colspan="2" align="center"><img src="http://test.letsgohotpot.com/static/images/email/email_shoppingList.png" alt="Shopping List" /></td>
													</tr>
													<tr><td height="15"></td></tr>
													</tr>
													{% for ingredient in recipe.ingredients %}
													<tr>
														<td style="border-top:1px dashed #ccc; line-height:2em;">{{ ingredient.name }}</td>
														<td align="right" style="border-top:1px dashed #ccc; font-weight:bold; font-size:12px;">{% if ingredient.amount is defined %}{{ ingredient.amount }}{% endif %}</td>
													</tr>
													{% endfor %}
													<tr><td height="15"></td></tr>
												</table>
											</td>
											<td width="15"></td>
										</tr>
									</table>
								</td>
								<td width="30"></td> <!-- horizontal spacing -->
								<td valign="top">
									<div style="line-height:2.8em;font-family:Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:.1em; font-size:12px;">Date</div>
									<div style="font-size:22px; font-family:Georgia, serif;">[date from datepicker]</div>
									<p></p>
									<div style="line-height:2.8em;font-family:Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:.1em; font-size:12px;">Time</div>
									<div style="font-size:22px; font-family:Georgia, serif;">[time]</div>
									<p></p>
									<div style="line-height:2.8em;font-family:Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:.1em; font-size:12px;">Place</div>
									<div style="font-size:22px; font-family:Georgia, serif;">Our kitchens, via Hotpot</div>
									<br>
									<p><a href="" id="RSVPButton"><img src="http://test.letsgohotpot.com/static/images/email/email_RSVP.png" alt="RSVP" /></a></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="40"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td>
						<div style="text-align:center"><img src="http://test.letsgohotpot.com/static/images/email/email_howItWorks.png" alt="How It Works" /></div>
						<p style="font-family:Helvetica, Arial, sans-serif; font-size:13px; color:#333; line-height:1.4em;">Hotpot is a website that lets friends cook together in real time. Upon accepting this invitation, you'll get a unique link to an online cooking room where we can meet and make this meal together. If you're still confused, check out the website at <a href="http://letsgohotpot.com">LetsGoHotpot.com</a></p>
					</td>
				</tr>
				<tr><td height="30"></td></tr>  <!-- vertical spacing -->
			</table>
			
		</td>
		<td width="30"></td> <!-- right padding -->
	</tr>
</table>


</body>
</html>