{% extends "base/common.html" %}

{% block title %}Join Hotpot{% endblock %}

{% block customJS %}
	<script src="/static/js/lib/jquery.sha1.js" type="text/javascript"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function(){
		$('#loginForm').submit(function(e){
			// we're not sending passwords in the clear, yay!
			// although yang says in a perfect world i would be using https...
			// hmph.
			var encryptedPassword = $.sha1($('#passwordField').val());
			$('#encryptedPassword').val(encryptedPassword);
		});
	});
	
	</script>
	
	</script>

{% endblock %}

{% block bodyId %}login{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}

<h1 id="title">Log In</h1>

<div id="loginFormContainer">
<form id="loginForm" action="/loginAction" method="POST">
	<div class="formItem">
		<label>email:</label>
		<input type="text" name="email" />
	</div>
	
	<div class="formItem">
		<label>password:</label>
		<input type="password" id="passwordField" />
	</div>
	
	<input type="hidden" name="password" id="encryptedPassword" />
	
	<div class="buttons">
		<input type="submit" />
	</div>
</form>
</div><!-- #loginFormContainer -->


{% endblock main %}