{% extends "base/common.html" %}

{% block title %}{{ meal.title|safe }}{% endblock %}

{% block customJS %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#viewRecipeButton').click(function(e){
			e.preventDefault();
			$('#overlayContainer').show();
			
			$('body').addClass('noscroll');
		});
		
		$('#overlayContainer .closeButton').click(function(e){
			e.preventDefault();
			$('#overlayContainer').hide();
			
			$('body').removeClass('noscroll');
		});
	});
</script>
{% endblock %}

{% block bodyId %}meal{% endblock %}
{% block bodyClass %}secondary{% endblock %}

{% block main %}

<a href="/meals" id="returnLink">More Meals<br /><img src="/static/images/icon_arrowLeft.png"></a>

<h1 id="mealTitle">{{ meal.title|safe }}</h1>

<div id="mealAddedDate">
	{{ meal.date }}
</div>

<div id="dishes">
	<h2>Dishes:</h2>
	<ul>
		{% for dish in meal.dishes %}
		<li>{{ dish }}</li>
		{% endfor %}
	</ul>
</div>

<div id="mealImageContainer">

	<div id="mealImage">
		<img src="/static/images/food/{{ meal.slug }}.jpg" />
	</div><!-- #mealImageContainer -->
	
	<section id="cookedBy">
		<h1>Cooked By:</h1>
		<ul>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
		</ul>
	</section>
	
</div><!--#mealImageContainer -->


<aside id="mealSidebar">

	<div id="importantStuff">
	
		<a href="/invite?meal={{ meal.slug }}" id="inviteButton">
			<span class="small"><em>Invite a Friend to</em></span> Cook This
		</a>
		
		<div id="socialMediaButtons">
			<h2>Or share with your social networks:</h2>
			<div id="twitterInvite">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://letsgohotpot.com" data-text="Who wants to make {{ meal.title }} with me on Hotpot?">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		
			<div id="facebookInvite">
				<div class="fb-like" data-href="http://letsgohotpot.com" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"></div>
			</div>
		</div>
	
		<section id="shoppingList">
			<h1>Ingredients Needed</h1>	
			<ul>
			{% for ingredient in meal.ingredients %}
				<li class="{{ loop.cycle('odd', 'even') }}"><span class="ingredient">{{ ingredient.name }}</span>{% if ingredient.amount is defined %}<span class="amount">{{ ingredient.amount }}</span>{% endif %}</li>
			{% endfor %}
			</ul>
		</section><!--#shoppingList -->
		
		
	
	<a href="" id="viewRecipeButton" class="smallButton">View Recipe Steps</a>
		
	</div><!-- #importantStuff -->
	
	<section id="equipment">
		<h1>Recommended Equipment</h1>
		
		<ul>
		{% for item in meal.equipment %}
			<li>{{ item }}</li>
		{% endfor %}
		</ul>
	</section>
	
</aside><!--#mealSidebar-->

<div id="mealContent">
	
	<ul id="mealFacts">
		<li><span class="label">Estimated Time</span> {{ meal.time }}</li>
		<li><span class="label">Features</span> {{ meal.type }}</li>
		<li><span class="label">Skill Level</span> {{ meal.difficulty }}</li>
		<li><span class="label">Flavors</span> {{ meal.flavors }}</li>
		{% if meal.servings %}<li>{{ meal.servings }}</li>{% endif %}
	</ul>
	
	<div id="mealDescription">
		<p>{{ meal.description|safe }}</p>
	</div>
	
	<section id="ingredientSpotlight">
		<h1><span class="kern">Ingredient</span> Spotlight</h1>
		<div class="ingredientImage"><img src="/static/images/ingredients/{{ meal.ingredientPic }}" /></div>
		{{ meal.ingredientSpotlightText|safe }}
	</section>
	
	<section id="mealCredits">
		<div class="stuff">
			<div id="submissionUser"><img src="/static/uploads/userpics/placeholder.png" /></div>
		
			<h1>Submitted By:</h1>
			<p>{% if meal.submittedBy %}{{ meal.submittedBy }}{% else %}Tinabeans{% endif %}<br />
				{% if meal.submissionDate %}{{ meal.submissionDate }}{% else %}January 21, 2012{% endif %}
			</p>
		</div>
		
		<div class="stuff">
			<h1>Recipe Sources:</h1>
			<a href="{{meal.creditURL}}" target="_blank">{{ meal.credit }}</a>
		</div>
	</section><!-- #mealCredits -->
	
</div>

<div id="overlayContainer">
	<div id="recipeStepsOverlay">
		<a class="closeButton"></a>
	
		<section id="recipeSteps">
			<h1>Cooking Steps</h1>
		
			{% set stepCounter = 1 %}
		
			{% for step in meal.steps %}
				{% if step.type != "rest" and step.type != "eat" %}
				
					<h2>
						{% if step.type == "prep" or step.type == "heat" or step.type == "finish" %}
							{% set stepCounter = stepCounter + 1 %}
							Step {{ stepCounter }}
						{% elif step.type == "ingredients" %}
							Start
						{% else %}
							{{ step.type }}
						{% endif %}
					</h2>
					
					
					<div class="instructionsContainer">
						<div class="instructions">
							
							{{ step.text|safe }}
							
							{% if step.type == "ingredients" %}
								<ul>
								{% for ingredient in meal.ingredients %}
									<li>{{ ingredient.name }} {% if ingredient.amount is defined %}({{ ingredient.amount }}){% endif %}</li>
								{% endfor %}
								</ul>
							{% endif %}
						</div><!-- #instructions -->
					</div>
				
				{% endif %}
			{% endfor %}
		
		</section><!-- #recipeSteps -->
	</div><!-- #recipeStepsOverlay -->
</div><!-- #overlayContainer -->


{% endblock main %}

{% block moreCustomJS %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}