{% extends "base/common.html" %}

{% block title %}{{ meal.title }}{% endblock %}
{% block bodyId %}meal{% endblock %}
{% block bodyClass %}secondary{% endblock %}

{% block main %}

<a href="/meals" id="returnLink">More Meals<br /><img src="/static/images/icon_arrowLeft.png"></a>

<h1 id="mealTitle">{{ meal.title }}</h1>

<ul id="mealFacts">
	<li>{{ meal.time }}</li>
	<li>{{ meal.type }}</li>
	<li>{{ meal.difficulty }}</li>
	<li>{{ meal.flavors }}</li>
	{% if meal.servings %}<li>{{ meal.servings }}</li>{% endif %}
</ul>

<div id="mealImageContainer">

	<div id="mealImage">
		<img src="/static/images/food/{{ meal.slug }}.jpg" />
	</div><!-- #mealImageContainer -->
	
</div><!--#mealImageContainer -->


<aside id="mealSidebar">

	<div id="importantStuff">
	
		<a href="/invite?meal={{ meal.slug }}" id="inviteButton">
			<span class="small"><em>Invite a Friend to</em></span> Cook This
		</a>
	
		<section id="shoppingList">
			<h1>Shopping List</h1>	
			<ul>
			{% for ingredient in meal.ingredients %}
				<li class="{{ loop.cycle('odd', 'even') }}"><span class="ingredient">{{ ingredient.name }}</span>{% if ingredient.amount is defined %}<span class="amount">{{ ingredient.amount }}</span>{% endif %}</li>
			{% endfor %}
			</ul>
		</section><!--#shoppingList -->
		
	</div><!-- #importantStuff -->
	
	<section id="cookedBy">
		<h1>Look Who's Cooking!</h1>
		<ul>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
			<li><a href=""><img src="/static/uploads/userpics/placeholder.png" /></a></li>
		</ul>
	</section>
	
</aside><!--#mealSidebar-->

<section id="mealDescription">
	<h1>About the Meal</h1>
	
	<p>{{ meal.description|safe }}</p>
	
	<section id="mealCredits">
		
		<div class="stuff">
			<img id="submissionUser" src="/static/uploads/userpics/placeholder.png" />
		
			<h1>Submitted By:</h1>
			<p>{% if meal.submittedBy %}{{ meal.submittedBy }}{% else %}Tinabeans{% endif %}<br />
				{% if meal.submissionDate %}{{ meal.submissionDate }}{% else %}January 21, 2012{% endif %}
			</p>
		</div>
		
		<div class="stuff">
			<h1>Recipe Sources:</h1>
			<a href="{{meal.creditURL}}" target="_blank">{{ meal.credit }}</a>
		</div>
	</section><!-- #mealCredits -->
	
</section>


{% endblock main %}