<div id="featuredMealsContainer">
	<section id="featuredMeals">
		<h1>What's Cooking?</h1>
		<ul class="mealList">
			<li>
				<a href="http://test.letsgohotpot.com/meals/LemonGarlicKalePasta">
					<h2>Lemon Garlic Kale Pasta</h2>
					<img src="/static/images/food/LemonGarlicKalePasta.jpg">
				</a>
				<h3>Recently Cooked By:</h3>
				<ul>
					<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
					<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
				</ul>
			</li>
			
			<li>
				<h2>Lemon Garlic Kale Pasta</h2>
				<img src="/static/images/food/SalmonTeriyaki.jpg">
				<h3>Recently Cooked By:</h3>
				<ul>
					<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
					<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
				</ul>
			</li>
			
			<li class="last">
				<h2>Apple Cheddar Quiche</h2>
				<img src="/static/images/food/SalmonTeriyaki.jpg">
				<h3>Recently Cooked By:</h3>
				<ul>
					<li><a href=""><img src="" /> <span class="name">Tina Y.</span></a></li>
					<li><a href=""><img src="" /> <span class="name">Yang Y.</span></a></li>
				</ul>
			</li>
		</ul>
	</section><!-- #featuredMeals -->
</div><!-- #featuredMealsContainer -->