<html>
<head>
<title>Welcome to Hotpot</title>
</head>

<body>

<h1>Hooray! Glad to have you join us, {{data.name}}!</h1>

<p>Thanks for accepting the invitation to join Hotpot as a tester. While I'm hard at work rolling out the first prototype, please set up an account and complete your profile.</p>

<form action="saveProfile" method="POST">
	<input type="hidden" name="code" value="{{data.code}}" />
	
	<label>Your name:</label>
	<input type="text" name="name" value="{{data.name}}" />

	<label>Your email address:</label>
	<input type="text" name="email" value="{{data.email}}" />
	
	<label>Set a password:</label>
	<input type="password" name="password" />

<p>Now tell us about your wonderful self!</p>

<small><p><strong>"But why," you ask?</strong> Well, a profile helps other Hotpot members get to know you before the full prototype launches, and vice versa. Presently, the Hotpot community is limited to specially invited testers&mdash;my friends, family and acquaintances. Only they will get to see your info, so don't be shy. To check out who's been invited so far, click here.</p></small>

<div id="profileContainer">
		<p><select><option>Greetings!</option></select> I'm a <select><option>seasoned cook</option></select> from <input type="text" placeholder="location" />. My cultural background is <input type="text" placeholder="e.g. Chinese" /> and I'm a(n) <select><option>flexitarian</option></select>.</p>
		
		<p><span class="tidbit-techniques">I'm an expert at <input type="text" placeholder="cooking technique" /> but want to learn how to <input type="text" placeholder="cooking technique" /> better. </span><span class="tidbit-cuisine">My favorite cuisine is <input type="text" placeholder="e.g. Italian" /> but I also love <input type="text" placeholder="e.g. anything spicy" />. </span><span class="tidbit-tool">The one kitchen implement I couldn't live without is <input type="text" placeholder="e.g. my trusty knife" />. </span><span class="tidbit-challenge">The toughest food I ever made was <input type="text" placeholder="e.g. a wedding cake" /> and it turned out <select><option>awesome</option></select>. <span><span class="tidbit-try">I would like to try making <input type="text" placeholder="e.g. molé" /> someday.</span></p>
		
		<textarea>Free space! You can write whatever you want here.</textarea>
	</div>
	
	<div id="tidbitBank">
		<ul>
			<li><a href="">Add</a> cooking techniques</li>
			<li><a href="">Add</a> cuisine and flavors</li>
			<li><a href="">Add</a> what I would like to make someday</li>
			<li><a href="">Add</a> greatest food challenge</li>
		</ul>
	</div>

	<input type="submit" value="Save">

</form>

</body>

</html>