{% extends "base/common.html" %}

{% block title %}Edit My Profile{% endblock %}

{% block customJS %}{% endblock %}

{% block bodyId %}profile{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div id="welcomeMessage" class="systemMessage">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<h1 id="title">{{ user.name }}{% if user.lastname %} {{ user.lastname }}{% endif %}</h1>

{% if user.location %}<h2>{{ user.location }}</h2>{% endif %}

{% if user.userpic %}
	<img src="/static/uploads/userpics/{{ user.userpic }}" width="240" />
{% else %}
	<img src="/static/uploads/userpics/placeholder.png" width="240" />
{% endif %}

{% if isMyProfile %}
	<a href="/editProfile" class="button">Edit Profile</a>
{% endif %}

{% endblock main %}