<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>registration form</title>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="static/js/jquery.sha1.js" type="text/javascript"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function(){
		$('#registrationForm').submit(function(e){
			// we're not sending passwords in the clear, yay!
			// although yang says in a perfect world i would be using https...
			// hmph.
			var encryptedPassword = $.sha1($('#passwordField').val());
			$('#encryptedPassword').val(encryptedPassword);
		});
	});
	
	</script>
	
</head>

<body>

<form id="registrationForm" action="registerAction" method="POST">
	<label>email:</label> <input type="text" name="email" />
	<label>name:</label> <input type="text" name="name" />
	<label>password:</label> <input type="password" id="passwordField" />
	<input type="hidden" name="password" id="encryptedPassword" />
	
	<input type="submit" />
</form>

</body>
</html>