{% extends "base/common.html" %}

{% block title %}Join Hotpot{% endblock %}

{% block customJS %}
	<script src="static/js/lib/jquery.sha1.js" type="text/javascript"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function(){
	
	
		$('#registrationForm').submit(function(e){
			// we're not sending passwords in the clear, yay!
			// although yang says in a perfect world i would be using https...
			// hmph.
			var encryptedPassword = $.sha1($('#passwordField').val());
			$('#encryptedPassword').val(encryptedPassword);
		});
	});
	
	</script>
	
	<script src="static/js/validation.js" type="text/javascript"></script>

{% endblock %}

{% block bodyId %}registration{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}

<h1 id="title">Join Hotpot</h1>

<div id="registrationFormContainer">
<form id="registrationForm" action="registerAction" method="POST">
	<div class="formItem">
		<label>first name: *</label>
		<input type="text" name="name" class="required" />
	</div>
	
	<div class="formItem">
		<label>last name:</label>
		<input type="text" name="lastname" />
	</div>

	<div class="formItem">
		<label>email: *</label>
		<input type="text" name="email" class="required emailInput" />
	</div>
	
	<div class="formItem">
		<label>password: *</label>
		<input type="password" id="passwordField" class="required" />
	</div>
	
	<input type="hidden" name="password" id="encryptedPassword" />
	
	<div class="buttons">
		<input type="submit" />
	</div>
</form>
</div><!-- #registrationFormContainer -->


{% endblock main %}