{% extends "base/common.html" %}

{% block title %}Reply Sent{% endblock %}

{% block customJS %}{% endblock %}

{% block bodyId %}replySent{% endblock %}
{% block bodyClass %}{% endblock %}

{% block main %}


<h1 id="pageTitle">Reply to an Invitation</h1>

<p class="intro">Thanks! Your reply has been successfully sent to <strong>{{ host.name }}</strong>.</p>

<p>You can <a href="/invitations/{{ invitation._id }}">view a record of your reply here.</a></p>

<div id="replyContainer">
	{{ replyMessage|safe }}
</div>


{% endblock main %}