<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<title>HotPot prototype! yeah!!</title>

<script type="text/javascript">
	var SOCKETS_PORT_NUMBER = {{ socketsPortNumber }};
</script>

<!-- Typekit -->
<script type="text/javascript" src="http://use.typekit.com/qje5yme.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>

<!-- OpenTok JS -->
<script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script>
<script src="/static/js/videoChat.js" type="text/javascript"></script>

<!-- Socket IO -->
<script src="/static/js/lib/socket.io.min.js" type="text/javascript"></script>

<!-- my scripts -->
<script src="/static/js/utils.js" type="text/javascript"></script>
<script src="/static/js/room.js" type="text/javascript"></script>

<link rel="stylesheet" href="/static/css/core.css" type="text/css" />

</head>
 
<body id="cookingRoom" data-id="{{ invitationId }}">

<!-- User ID needs to be present on the page somewhere for Javascript to access it -->
<div id="userId">{{ user._id }}</div>

<div id="roomBg">

	<header id="cookingHeader">
		<h1><img src="/static/images/HotpotLogo_Alpha.png"></h1>
		
		<nav id="serviceNav">
			<a href="/history" id="exitLink">
				<span class="tooltip">Exit</span>
			</a>
		</nav>
	</header>
	
	<div id="cookingArea">
		
		<div id="recipeContainer">
		
			<section id="recipe" data-id="{{ meal._id }}">
			
				<h1 id="recipeTitle">
					<div class="label">Now Cooking</div>
					{{ meal.title }}
				</h1>
				
				<nav id="recipeNav">
					<!-- Generate user icons for everyone but self and keep them hidden until actually in use -->
					{% for attendee in attendees %}
						{% if attendee._id != user._id %}
							<div class="userStepIcon" data-id="{{ attendee._id }}"><img src="/static/uploads/userpics/{{ attendee.userpic }}" /></div>
						{% endif %}
					{% endfor %}
					
					<ul id="stepTabs">
					
					{% set stepCounter = 1 %}
					
					{% for step in meal.steps %}
						<li class="{{ step.type }}">
							<a href="" id="stepTab-{{ step.id }}">
								{% if step.type == "prep" or step.type == "heat" or step.type == "finish" %}
									{% set stepCounter = stepCounter + 1 %}
									{{ stepCounter }}
								{% else %}
									<img src="/static/images/icon_{{ step.type }}.png" />
								{% endif %}
							</a>
						</li>
					{% endfor %}
					</ul>
					
					<!-- <div id="stepsNav">
						<a href="#" id="startButton">Start</a>
						<a href="#" id="prevButton">Previous</a>
						<a href="#" id="nextButton">Next</a>
					</div> -->
				</nav><!-- #recipeNav -->
				
				<section id="steps">
					<div id="recipeStart">
						<div id="startButtonContainer">
							<p>When everyone has arrived, click Start to begin.</p>
							<a href="" id="recipeStartButton" class="bigButton">Start</a>
						</div>
						
						<div id="instructionsCookingTimeline" class="instructions">
							<h2>Cooking Timeline</h2>
							<p>Here, you’ll be able to see what step everyone is currently on.</p>
							<img src="/static/images/instructionsArrow1.png" />
						</div>
						
						<div id="instructionsKeyboardNav" class="instructions">
							<img src="/static/images/instructionsKeyboardNav.png" />
							<h2>Navigation</h2>
							<p>Use your arrow keys to switch between steps.</p>
						</div>
						
						<div id="instructionsCookingNotes" class="instructions">
							<h2>Cooking Notes</h2>
							<p>Record memorable happenings together and even add stamps!</p>
							<img src="/static/images/instructionsArrow2.png" />
						</div>
					</div>
				
					<ol>
						{% set stepCounter = 1 %}
						
						{% for step in meal.steps %}
							<li id="step-{{ step.id }}" class="step {{ step.type }}">
								<h2>
									{% if step.type == "prep" or step.type == "heat" or step.type == "finish" %}
										{% set stepCounter = stepCounter + 1 %}
										Step {{ stepCounter }}
									{% else %}
										{{ step.type }}
									{% endif %}
								</h2>
								
								{{ step.text|safe }}
								
								{% if step.type == "ingredients" %}
									<ul id="ingredients">
										{% for ingredient in meal.ingredients %}
											<li class="{{ loop.cycle('odd', 'even') }}"><span class="ingredient">{{ ingredient.name }}</span>{% if ingredient.amount is defined %}<span class="amount">{{ ingredient.amount }}</span>{% endif %}</li>
										{% endfor %}
									</ul>
								{% endif %}
								
								{% if step.extra is defined %}
								<div class="extra">
									<h1>Protip!</h1>
									{{ step.extra|safe }}
								</div>
								{% endif %}
								
								{% if step.type == "rest" or step.type == "eat" %}
									<form class="noteFormInline">
										<textarea name="note" class="note"></textarea>
										<input type="submit" value="Add Cooking Note" />
									</form>
								{% endif %}
								
								<!-- Cooking Notes! wheeeee -->
								<div class="notesContainer">
								{% if step.notes is defined %}
									{% for note in step.notes %}
									<div class="cookingNote {{ note.type }}" data-id="{{ note._id }}">
										<div class="userpic"><img src="/static/uploads/userpics/{{ note.noteAuthor.userpic }}" /></div>
										<div class="timestamp">{{ note.timestamp|jsDatetimeLocaleFormat("%l:%M %p")|safe }}</div>
										
										<div class="noteContent">
											{% if note.type == "note" %}
												<p>{{ note.content }}</p>
											{% elif note.type == "stamp" %}
												<img src="/static/images/stamps/{{ note.content.stampSlug }}.png" />
												<p>{{ note.content.stampName }}!</p>
											{% endif %}
										</div>
									</div>
									{% endfor %}
								{% endif %}
								</div><!-- .notesContainer -->
								
							</li>
						{% endfor %}				
					</ol>
					
				</section><!-- #steps -->
				
				<div id="widgets">
					<nav id="widgetNav">
						<a href="" id="stampPickerButton" class="widgetButton">Stamps</a>
						<a href="" id="notepadButton" class="widgetButton">Cooking Notes</a>
					</nav>
					
					<div id="stampPicker" class="widget">
						<a href="" class="closeButton">Close</a>
						
						<div id="stampInfoDisplay" style="display:none;">
						</div>
						
						<div id="stampInstructions">
							<p>Click on a stamp to add it to the cooking timeline.</p>
						</div>
						
						<ul>
						{% for stamp in stamps %}
							<li class="stamp">
								<a href="" id="{{ stamp.slug }}" class="stampButton"><img src="/static/images/stamps/{{ stamp.slug }}.png" width="40" /></a>
								<div class="stampInfo">
									<h3>{{ stamp.name }}</h3>
									<p class="description">{{ stamp.description }}</p>
								</div>
							</li>
						{% endfor %}
						</ul>
						
					</div><!-- #stampPicker -->
					
					<div id="notepad" class="widget">
						<a href="" class="closeButton">Close</a>
						<p>Share your surprises, discoveries, and impressions:</p>
						<form id="noteForm">
							<textarea name="note" class="note"></textarea>
							<input type="submit" />
						</form>
					</div><!-- #notepad -->
				
				</div><!-- #widgets -->
				
			</section><!-- #recipe -->
		</div><!-- #recipeContainer -->
	
		<div id="videoContainer">
			
			{% for attendee in attendees %}
				{% if attendee._id != user._id %}
					<div class="attendeeStatus" data-id="{{ attendee._id }}">
						<span class="name">{{ attendee.name }}</span>
						<span class="status"></span>
					</div>
				{% endif %}
			{% endfor %}
			
			<div id="videos">
				<!-- OpenTok adds video elements here -->
				<div id="friendVideoPlaceholder">
					<p>Waiting for friend(s) to join...</p>
				</div>
			</div>
			
			<a href="#" id="showChatButton">Show Chat Box</a>
		</div>
		
		<div id="myVideoContainer">
			<div id="myVideo">
				<!-- OpenTok adds video elements here -->
			</div>
			
			<!-- apparently positioning this over the video container makes it impossible to click "allow" -->
			<!-- div id="myStatus">
				<span class="name">{{ user.name }}</span>
				<span class="status"></span>
			</div> -->
		</div>
		
		<div id="chatBoxContainer">
			<a href="#" id="hideChatButton">Hide Chat Box</a>
		
			<div id="chatBox">
				<div id="chatMessages">
					<!-- CHAT MESSAGES APPEAR HERE -->
				</div><!-- #messages -->			
					
				<div id="chatInputContainer">
					<form id="chatInputForm">
						<input type="text" name="chatMessage" placeholder="type message here" />
					</form>
				</div>
				
			</div><!-- #chatBox -->
			
		</div><!-- #chatContainer -->
	
	</div><!-- #container -->

</div><!-- #roomBg -->
</body>
</html>
