<table width="100%" bgcolor="#e5e2da" style="background:url({{ BASE_URL }}/static/images/email/bg.png);" cellpadding="20" cellspacing="0" border="0"><tr><td align="center">

<table cellpadding="0" cellspacing="0" width="620" bgcolor="#ffffff" style="background:url({{ BASE_URL }}/static/images/email/bg_Main.png);">

	<!-- INVITE HEADER -->

	<tr>
		<td colspan="3">
			<img style="display:block;" src="{{ BASE_URL }}/static/images/email/invitationHeader.png" width="620" height="250" alt="Let's Cook!">
		</td>
	</tr>
	
	<!-- PERSONAL MESSAGE -->
	
	<tr>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_messageAreaLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/images/email/bg_messageArea.png); font-family:'Courier New', monospace; font-size:20px; line-height:1.4em;">
			<p id="greeting">Hi <span id="friendName">{{ invitation.inviteeName }}</span>,</p>
			<div class="messageBody">
				{{ invitation.message|safe }}
			</div>
			<p style="text-align:right">Cheers,<br>{{ invitation.hostName }}</p>
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_messageAreaRight.png)"></td>
	</tr>
	
	<!-- "GET READY TO COOK..." -->
	
	<tr>
		<td colspan="3"><img style="display:block;" src="{{ BASE_URL }}/static/images/email/text_getReady.png" width="620" height="133" alt="Get ready to make..."></td>
	</tr>
	
	<!-- TITLE and DESCRIPTION -->
	
	<tr>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/email/bg_Main.png)">
			<h1 style="text-align:center; font-weight:bold; color:#1c6770; font-size:35px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ meal.title }}</h1>
			<p style="text-align:center; line-height:1.5em; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; font-size:14px;">{{ meal.shortDescription }} <a href="/meals/{{ meal.slug }}" style="color:#f07239; text-decoration:none;">More about this meal »</a></p>
			
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainRight.png)"></td>
	</tr>
	
	<!-- IMAGE -->
	
	<tr>
		<td colspan="3"><img style="display:block;" src="{{ BASE_URL }}/static/images/email/foodpics/{{ meal.slug }}.png" width="620" height="277" alt="{{ meal.title }}"></td>
	</tr>
	
	<!-- DATE, TIME, PLACE -->
	
	<tr>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/email/bg_Main.png)">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td valign="top" width="37%" align="center" style="font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; text-align:center; vertical-align:top;">
						<img width="42" height="12" src="{{ BASE_URL }}/static/images/email/text_date.png" alt="Date">
						<p>{{ invitation.readableDate|safe }}</p>
					</td>
					<td width="5%"></td>
					<td valign="top" width="16%" align="center" style="font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; text-align:center; vertical-align:top;">
						<img src="{{ BASE_URL }}/static/images/email/text_time.png" width="41" height="12" alt="Time">
						<p>{{ invitation.readableTime|safe }}</p>
					</td>
					<td width="5%"></td>
					<td valign="top" width="37%" align="center" style="font-size:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; text-align:center; vertical-align:top;">
						<img src="{{ BASE_URL }}/static/images/email/text_place.png" width="52" height="13" alt="Place">
						<p>Our kitchens,<br>via Hotpot</p>
					</td>
				</tr>
			</table>
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainRight.png)"></td>
	</tr>
	
	<!-- a small gap -->
	
	<tr>
		<td width="50" height="16" style="background:url({{ BASE_URL }}/static/images/email/bg_MainLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/email/bg_Main.png)">
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainRight.png)"></td>
	</tr>
	
	<!-- RSVP BUTTON -->
	
	<tr>
		<td width="50" height="69" style="background:url({{ BASE_URL }}/static/images/email/bg_MainLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/email/bg_Main.png); text-align:center;" align="center">
			<a href="{{ BASE_URL }}/reply/{{ invitation._id }}?invitee={{ invitation.inviteeId }}" id="RSVPButton"><img src="{{ BASE_URL }}/static/images/email/button_RSVP.png" width="244" height="69" alt="Click to R.S.V.P."></a>
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainRight.png)"></td>
	</tr>
	
	<!-- a small gap -->
	
	<tr>
		<td width="50" height="36" style="background:url({{ BASE_URL }}/static/images/email/bg_MainLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/email/bg_Main.png)">
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainRight.png)"></td>
	</tr>
	
	<!-- ADDITIONAL INFO -->
	
	<tr>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainLeft.png)"></td>
		<td width="520" style="background:url({{ BASE_URL }}/static/email/bg_Main.png)">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td width="275" valign="top" style="vertical-align:top;">
					
						<!-- SHOPPING LIST -->
						
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							
							<tr>
								<td colspan="4" valign="top" style="vertical-align:top;"><img style="display:block;" src="{{ BASE_URL }}/static/images/email/text_shoppingList.png" alt="Shopping List" height="75" width="275"></td>
							</tr>
							
							{% for ingredient in meal.ingredients %}
							<tr>
								<td width="20" style="background:url({{ BASE_URL }}/static/images/email/bg_ShoppingListLeft.png)"></td>
								<td height="35" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; color:#4e565c; font-size:16px; {{ loop.cycle('background:url(' ~ BASE_URL ~ '/static/images/email/bg_ShoppingListBlueStripe.png);', '') }}">&nbsp; &nbsp;{{ ingredient.name }}</td>
								<td align="right" style="text-align:right; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; color:#4e565c; font-size:12px; {{ loop.cycle('background:url(' ~ BASE_URL ~ '/static/images/email/bg_ShoppingListBlueStripe.png);', '') }}">{% if ingredient.amount is defined %}{{ ingredient.amount }}{% endif %}&nbsp; &nbsp;</td>
								<td width="20" style="background:url({{ BASE_URL }}/static/images/email/bg_ShoppingListRight.png)"></td>
							</tr>
							{% endfor %}
							
							<tr>
								<td colspan="4"><img style="display:block;" src="{{ BASE_URL }}/static/images/email/shoppingListBottom.png" height="21" width="275"></td>
							</tr>
						</table>
					</td>
					<td width="30" align="center"></td>
					<td width="217" valign="top" style="vertical-align:top;" style="text-align:left">
					
						<!-- HOW THIS WORKS -->
					
						<img style="display:block;" src="{{ BASE_URL }}/static/images/email/text_whatIsHotpot.png" width="180" height="40" alt="What is Hotpot?">
						<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">Hotpot is a website that lets you cook together with anyone, anywhere in the world!</p>
						<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">If you accept this invitation, you'll get a special link to a Cooking Room, where we can meet and make the above meal together.</p>
						
						
						<img style="display:block;" src="{{ BASE_URL }}/static/images/email/text_whatDoINeed.png" width="180" height="13" alt="What do you need?">
						
						<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">To get the most out of Hotpot, you'll need:</p>
						
						<ul style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">
							<li>a stable internet connection</li>
							<li>a webcam (highly recommended)</li>
							<li>the latest version of your favorite browser</li>
							<li>Flash 11</li>
						</ul>

						<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4e565c; font-size:13px; line-height:1.4em;">To learn more about Hotpot, check out the site: <a href="http://letsgohotpot.com" style="color:#f07239; text-decoration:none;">LetsGoHotpot.com</a></p>
					</td>
				</tr>
			</table>
		</td>
		<td width="50" style="background:url({{ BASE_URL }}/static/images/email/bg_MainRight.png)"></td>
	</tr>
	
	<!-- FOOTER -->
	
	<tr>
		<td colspan="3">
			<img style="display:block;" src="{{ BASE_URL }}/static/images/email/footer.png" width="620" height="115" alt="Brought to you by Hotpot">
		</td>
	</tr>
</table>

</td></tr></table>