<table width="100%" bgcolor="#eee" cellpadding="20" cellspacing="0" border="0"><tr><td align="center">

<table cellpadding="0" cellspacing="0" width="660" bgcolor="#ffffff" style="border:1px solid #aaa">
	<tr>
		<td width="30"></td> <!-- left padding -->
		<td>
			
			<table cellpadding="0" cellspacing="0" border="0">
				<tr><td height="50"></td></tr> <!-- vertical spacing -->
				<tr>
					<td align="center"><img src="http://test.letsgohotpot.com/static/images/email/email_letsCook.png" alt="Let's Cook!"></td>
				</tr>
				<tr><td height="50"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td style="font-family:Helvetica, Arial, serif; font-size:17px; line-height:1.5em; font-weight:100;">
						<p id="greeting">Hi <span id="friendName">{{ invitation.friendName }}</span>,</p>
						<div class="messageBody">
							{{ invitation.message|safe }}
						</div>
						<p style="text-align:right">Cheers,<br>{{ invitation.fromName }}</p>
					</td>
				</tr>
				<tr><td height="50"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td align="center">
						<img src="http://test.letsgohotpot.com/static/images/email/email_details.png" alt="The Tasty Details">
					</td>
				</tr>
				<tr><td height="15"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%" style="background-image:url('http://test.letsgohotpot.com/static/images/food/{{ recipe.slug }}_email.jpg');">
							<tr>
								<td height="30"></td>
							</tr>
							<tr>
								<td valign="top" height="170">
									<table cellpadding="0" cellspacing="0" border="0" height="40">
										<tr>
											<td width="15" height="40" style="background-image:url('http://test.letsgohotpot.com/static/images/email/bg_black_50.png');"></td>
											<td style="background-image:url('http://test.letsgohotpot.com/static/images/email/bg_black_50.png'); color:#ffffff; font-size:22px; line-height:1.5em;"><span style="font-size:14px; font-style:italic;">Let's Make:</span> {{ recipe.title }}</td>
											<td width="15" height="40" style="background-image:url('http://test.letsgohotpot.com/static/images/email/bg_black_50.png');"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="30"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td bgcolor="#eeeeee" width="260">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="15"></td>
											<td>
												<table cellpadding="0" cellspacing="0" border="0" width="230" style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#333;">
													<tr><td height="15"></td></tr>
													<tr>
														<td colspan="2" align="center"><img src="http://test.letsgohotpot.com/static/images/email/email_shoppingList.png" alt="Shopping List"></td>
													</tr>
													<tr>
														<td height="15"></td>
													</tr>
													{% for ingredient in recipe.ingredients %}
													<tr>
														<td style="border-top:1px dashed #ccc; line-height:2em;">{{ ingredient.name }}</td>
														<td align="right" style="border-top:1px dashed #ccc; font-weight:bold; font-size:12px;">{% if ingredient.amount is defined %}{{ ingredient.amount }}{% endif %}</td>
													</tr>
													{% endfor %}
													<tr><td height="15"></td></tr>
												</table>
											</td>
											<td width="15"></td>
										</tr>
									</table>
								</td>
								<td width="30"></td> <!-- horizontal spacing -->
								<td valign="top">
									<div style="line-height:2.8em;font-family:Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:.1em; font-size:12px;">Date</div>
									<div style="font-size:22px; font-family:Georgia, serif;">{{ invitation.readableDate|safe }}</div>
									<p></p>
									<div style="line-height:2.8em;font-family:Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:.1em; font-size:12px;">Time</div>
									<div style="font-size:22px; font-family:Georgia, serif;">{{ invitation.readableTime|safe }}</div>
									<p></p>
									<div style="line-height:2.8em;font-family:Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:.1em; font-size:12px;">Place</div>
									<div style="font-size:22px; font-family:Georgia, serif;">Our kitchens, via Hotpot</div>
									<br>
									<p><a href="http://test.letsgohotpot.com/reply/{{ invitation._id }}" id="RSVPButton"><img src="http://test.letsgohotpot.com/static/images/email/email_RSVP.png" alt="RSVP"></a></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="40"></td></tr>  <!-- vertical spacing -->
				<tr>
					<td>
						<div style="text-align:center"><img src="http://test.letsgohotpot.com/static/images/email/email_howItWorks.png" alt="How It Works"></div>
						<p style="font-family:Helvetica, Arial, sans-serif; font-size:13px; color:#333; line-height:1.4em;">Hotpot is a website that lets friends cook together in real time. Upon accepting this invitation, you'll get a unique link to an online cooking room where we can meet and make this meal together. If you're still confused, check out the website at <a href="http://test.letsgohotpot.com">LetsGoHotpot.com</a></p>
					</td>
				</tr>
				<tr><td height="30"></td></tr>  <!-- vertical spacing -->
			</table>
			
		</td>
		<td width="30"></td> <!-- right padding -->
	</tr>
</table>

</td></tr></table>