<h1>Reply</h1>

{% if reply.mainReply == "yes" %}
	<p>yay! {{ inviteeName }} said yes! the cooking party is on!</p>
	
	<h2>Add to Calendar:</h2>
	<p>Links for adding to your calendar: ical! google calendar! etc.</p>
	
{% elif reply.mainReply == 'maybe' %}
	<p>{{ inviteeName }} said yes, but...</p>

	{% if reply.altTimes != "" %}
		<p>the time doesn't work for them; they suggested these alternate times: {{ reply.altTimes }}</p>
	{% endif %}
		
	{% if reply.altMeals != "" %}
		<p>they don't want to make the meal you suggested; other ideas: {{ reply.altMeals }}</p>
	{% endif %}

{% elif reply.mainReply == "no" %}
	<p>awww, {{ inviteeName }} said no.</p>
{% endif %}	
	
{% if reply.message != "" %}
	<p>{{ inviteeName }} added this message: {{ reply.message }}</p>
{% endif %}

<h1>Info</h1>

<p>insert info about the Hotpot event</p>